[2014-05-30 19:54] gschmottlach-xse opened #2 "pykwalify under Python 2.7.X?"
I know your README stated that Python 2.7.x is not supported (and never will be) but it's not necessary clear this is indeed true. I removed the Python version check in runtest.py and ran your unit tests. Surprisingly, under Python 2.7.3 all of these tests passed! Is this expected or are you aware of scenarios where you explicitly used Python 3.X.Y features that have no hope of working under Pytho

[2014-06-07 16:14] #2 closed, assigned to nobody

[2014-06-07 16:14] Grokzen opened #3 "Implement partial schemas"
I like the idea and here is how i think it should be implemented
- schema: can be the new keyword for this but because i wont use any native YAML abilities i have to add a some new keyword inside schema: like schema-name: to enable name tagging.
- schema: can only be specified at top level of a file for easy pre parsing of all partials before any other rule is parsed.
- I dunno yet how to fix part

[2014-06-07 16:20] Grokzen opened #4 "Remove keyword pattern in favor of regex;<regex-pattern>"
The keyword "pattern" is no longer useful at the top level of map validation because of the new rule "regex;" that works alot better.

[2014-06-07 18:32] #4 closed, assigned to nobody

[2014-06-23 15:34] gschmottlach-xse opened #6 "length constraint passes for empty string"
Let's say I have a schema defined as follows:

[code]

Given the following data:

[code]

I would expect the constraint on the 'name' field would fail since it does _not_ have an associated value. With pykwalify this validates successfully.  If I fill in a name (with at least one character) the 'length' constraint will work correctly. So it seems a 'null' name field causes some issue.

[2014-06-23 23:06] #6 closed, assigned to nobody

[2014-06-23 23:09] #3 closed, assigned to nobody

[2014-06-24 00:37] gschmottlach-xse opened #7 "Constraint on the length of a sequence?"
Would it be possible to allow the 'range' or 'length' directive be applied to a sequence type? This would allow the schema to enforce a min/max sequence length. Some of my schema's contain a sequence with a minimum (or maximum) number of elements. Allowing either range/length to be extended to sequences would be helpful enforcing this constraint instead of relying on a secondary check after the in

[2014-06-26 12:30] #7 closed, assigned to nobody

[2014-12-18 21:14] run2fail opened #10 "Regex Matching Issues"
Hi,

I have the following example YAML file:

[code]

and the following schema file:

[code]

Somehow the regex matches the key although it shouldn't. Am I missing something?
I am using pykwalify (14.08) from PyPi.

Based on your test file 17s.yaml I also tried the following. Data file:

[code]

Schema file:

[code]

Again the file matches the schema, despite the "not" prefix to "mic".

Kind regar

[2014-12-22 16:34] #10 closed, assigned to nobody

[2015-02-26 06:27] retr0h commented on #3
Is it possible to load partials from another file?  I would like to have partials defined in separate files, however, it doesn't appear that is possible via the CLI.  Am I missing something?

[2015-02-26 07:24] retr0h opened #13 "Pattern matching in a sequence?"
Is it not possible to check a pattern against a sequence?
[code]

[2015-02-26 07:29] Grokzen commented on #3
@retr0h Yes it should be possible to specify more then 1 schema file in the cli.

The cli has the following defenition

[code]

and the `...` following `-s SCHEMAFILE` means that you can specify -s more then 1 time and when it is processed it will be interpreted as a list of items.

You can read up more on how docopt works here if you like http://docopt.org/

If you however found a bug or a case w

[2015-02-26 07:34] retr0h commented on #3
@Grokzen Ah yes.  I had tried that but stupidly was parsing 2 files which included the same schema name, and didn't throughly read the error.  My apologies.

[2015-02-26 08:07] Grokzen commented on #13
Yes in a way it is possible to this but i think that you have to redefine your schema some. The idea here is not to have the pattern validation on the seq definition itself but on the data part of the sequence.

The idea is that you define the key `allowed_address_pairs` and then you define the data that should be in that key. And in this case that should be a sequence and you set it as required b

[2015-02-26 08:08] Grokzen commented on #3
@retr0h No problems :]

[2015-02-26 08:13] Grokzen commented on #13
I do not know if this will help you visualize anything but this is a image from the original kwalify lib

https://web.archive.org/web/20120222211120/http://www.kuwata-lab.com/kwalify/ruby/img/fig01.png

[2015-02-26 08:15] Grokzen commented on #13
Also i would really like it if you join the gitter chat if you have any further questions and avoid using the issue tracking for regular questions.

The link to gitter can be found in the readme file and if you ping me with @grokzen in there i get a notification email :]

[2015-02-26 08:15] #13 closed

[2015-03-11 03:23] sitaktif opened #14 "The "any" type does not accept non-implemented types like timestamp"
The documentation specifies that `any` accepts any *implemented* type.

Is there a reason behind throwing a validation error when one uses other non-implementd types like timestamps?

I understand that a possible fix in my case is to send a PR to add timestamps support - and I'll do that if I get around to it :-)

Thanks,

[2015-03-11 07:40] Grokzen commented on #14
@sitaktif When you say timestamp do you mean a string or integer like "1426059442" || 1426059442 or do you mean that your object is a python datetime object? Is it possible that you can provide a sample schema file and data file so i can test the problem myself?

The reason behind throwing the validation error is simple and that is because i have to implement the check for a given type and that is

[2015-03-19 11:53] Grokzen commented on #14
@sitaktif Your question answers itself i think because the docs state how it works and that will not change any time soon. A simple solution could be to use `str` or `int` depending on your data files and let it validate through that one. I will add a new type in the future that is something more in the line off `all` or `whatever` or something that validates no matter what it says. To add datetim

[2015-03-29 01:03] sitaktif commented on #14
@Grokzen Thanks for your answer! And to clarify, by timestamp I meant something that looks like `2015-03-27T21:07:46Z`. I believe this is what the vanilla Kwalify library calls it (I was myself confused by the naming).

I am not sure I understand why you have to check for all the types that `any` checks for. Is it for security reasons?

The current meaning for `any` is a bit hard to handle at the

[2015-03-29 02:35] Grokzen commented on #14
The original documentation is lacking with the defenition of the major difference between, time, date and timestamp.

I would say that here in the python version it could be defined as

`time` - Format like `HH-MM-SS` it should be configurable what formats that should be supported ofc but the default list should contain all the most used formats.

`date` - Format like `YYYY-MM-DD` or `MM-DD-YYYY`

[2015-03-29 18:11] sitaktif commented on #14
I agree the Kwalify documentation is lacking on this but putting Kwalify (and Pykwalify) aside, we should follow standards and not come with our own recipes. Doing it in a Pythonic way is not necessarily the right way  to go (and believe me, I love the pythonic way :-) ) because Yaml is a concept that is language agnostic.

You can see an example of timestamps in the Yaml official standard on [htt

[2015-03-29 19:28] Grokzen commented on #14
If i change the `any` i would tag it with a new major release 1.1.0 and just document a upgrade notice that the defenition has changed. There is nothing stopping me from doing this right now if i want so i probably will push it sometime during the week :]

Your exampleis very good and i can easily try to implement something similar to that.

[2015-04-01 20:32] Grokzen commented on #14
@sitaktif Do you know some good list or site or something that could help to determine what formats to support out of the box? I am thinking about adding ability to manually specify what formats that you want for a datetime but there must be a default set also.

[2015-04-04 10:48] Grokzen commented on #14
Timestamp implemented in c5a478200564841d10e10533648976602e038a3e Will be included in next tag/release.

[2015-04-04 12:45] Grokzen commented on #14
The `any` type change is now implemented and new release `1.1.0` is released and uploaded.

If you have any comments or suggestions on the `timestamp` implementation please open a new issue :]

[2015-04-04 12:45] #14 closed

[2015-04-04 22:00] sitaktif commented on #14
@Grokzen Nice!

This is coming a bit late (sorry...) but I do have a suggestion about what formats to support: why don't we use `yaml.dump(the_date_value)` to support exactly what the actual yaml library supports? That way there is no question of whether we accept invalid formats (or whether we throw an error on a yaml-compliant format).

Using the yaml library to parse the date delegates this kin

[2015-04-04 22:06] sitaktif opened #15 "Align timestamp format with the yaml standard library"
I have a suggestion about what formats to support for the `timestamp` format: why don't we use `yaml.dump(the_date_value)` to support exactly what the actual yaml library supports? We can check the the call returns a `datetime`.

That way there is no question of whether we accept invalid formats (or whether we throw an error on a yaml-compliant format).

Using the yaml library to parse the date de

[2015-04-04 22:23] Grokzen commented on #15
I would say no to let `yaml` handle this because of several reasons.

First even if `yaml` is the most common format for the data and schema this lib is not designed to be exclusively used with `yaml` but it could be used with `json` or any python data structure if you are using this as a lib in your code. If you pass in a file with `json` then i would have to convert the data structure to `yaml`

[2015-04-04 22:25] Grokzen commented on #15
Also it already checks if the value for the timestamp is a native datetime object already and validates if it is so there is no need to validate further if for example `yaml.dump(data)` already returns a datetime. Python-dateutil only adds more functionality that the stdlib do not provide.

[2015-04-04 22:27] Grokzen commented on #15
Also the maintainers of `yaml` do not update the lib that often and i think they do not have a high priority to correctly format every possible datetime string into a native datetime object but gives that responsible to the code that uses their lib.

[2015-04-04 22:27] #15 closed

[2015-04-05 22:54] sitaktif commented on #15
Indeeed, because pykwalify supports json as well, your arguments definitely make sense. But also I had a look at the Yaml spec, and it does not seem to define any particular format (other than an example using ISO8601).

Seems like `dateutil` will do the job :)

[2015-05-04 07:42] quamilek opened #16 "Sequence of Map - `AttributeError: 'str' object has no attribute 'items'`` when data contains Map in Map"
Following schema describes a sequence map:

**schema.yml**
[code]
for data containing map in map:

**data.yml**
[code]
when I try to check this data I get following exceptions:

[code]

[2015-05-04 08:08] Grokzen commented on #16
Hi. I will have a look at it during the day and get back to you.

[2015-05-04 14:27] Grokzen commented on #16
From a quick look at your schema and data, it looks like you have either bad data or schema because you say that you want a dict at top level and it should contain `employees` but you then say that the content of it should be a sequence of items that each item contains a map with the key `name`

From what i can tell you should either change your data to this

[code]

that is equal to this python d

[2015-05-04 14:29] Grokzen commented on #16
One thing i could agree to is that tougher validation could be done on the acctual data it is currently processing because it is not intended that when it is validating mappings it should only be possible on a dict but not on a string so that could/should throw a error that the data is not as expected.

[2015-05-04 19:00] Grokzen commented on #16
Oh yeah, forgot to close this issue :]

[2015-05-04 19:00] #16 closed

[2015-07-24 12:30] vandersonmota opened #18 "Recursive schema definition fails"
I want to define a tree-like schema:
[code]

for something like this:
[code]

Then i get this:
[code]

[2015-07-24 12:34] vandersonmota commented on #18
This happens in the latest pypi version and unstable branch as well. Tested with python 2.7

[2015-07-24 13:02] Grokzen commented on #18
Have you tried to use the `schema;` and `include` arguments instead of the built:in pyyaml links? https://github.com/Grokzen/pykwalify/blob/unstable/docs/Validation%20Rules.md#schemaschema-name It might help you here because that implementation is lazy loaded and could avoid the problem with infinite recursion.

[2015-07-24 13:20] vandersonmota commented on #18
Thanks for the quick responso @Grokzen
i'll try it and post the results afterwards.

[2015-07-24 13:24] Grokzen commented on #18
Please do.

I do not know really how to protect against this in a good way if partial schemas do not work =(

[2015-07-27 18:21] vandersonmota commented on #18
I bring good news, sire ;-)
It worked with partial schemas, with some changes:
I had to make the top level a sequence, because apparently, partials don't work with mappings:

schema.yml
[code]

example.yml
[code]
Thank you for your time and for the project.

Cheers!

[2015-07-27 18:21] #18 closed

[2015-07-27 20:00] vandersonmota opened #19 "Failing with Unicode chars."
If i have the schema:

[code]

and the data file:
[code]

i get this
[code]

Any thoughts?

[]'s

[2015-07-27 21:26] Grokzen commented on #19
ye, i have seen a fork here that tried to fix that kind of unicode errors but it has not been PR:ed yet but i could take a stab at it and implement it across the code base. It should take a day or two, might give a new minor release.

[2015-07-27 21:30] Grokzen commented on #18
Cool that it worked out :]

One question about the sequence problem, was it not possible to use a include at the top level or directly inside a sequence? Is it possible that you can post the schema you wanted to have using partial schemas? It might be some unintended behavior that should be fixed, or it could be a new feature that should be added.

[2015-07-28 01:03] vandersonmota commented on #18
the schema i needed is pretty much like the one i posted, with more noise.

[2015-07-28 01:04] vandersonmota commented on #19
Thanks @Grokzen

[2015-07-28 18:17] Grokzen commented on #18
Oki.

If you find some schema/usecase that you might need just open another issue and i can see if it can be worked into the spec but still keep the kwalify compatibility.

[2015-08-03 09:06] Grokzen commented on #19
@vandersonmota I pushed a commit https://github.com/Grokzen/pykwalify/commit/a8bce01cfdb7d5902eff7a041b2426fae91a9601 that should fix the unicode problem. Please play with it some and if you think it works good please close this issue. If you find some part of the code that fails with unicode data in case i missed something just open a new issue.

[2015-08-03 19:49] vandersonmota commented on #19
Seems fine @Grokzen

Thank you!

[2015-08-03 19:49] #19 closed

[2015-08-03 19:50] Grokzen commented on #19
Cool :]

I have some other things to commit then i will cut a 1.4.0 release later this week.

[2015-08-27 15:24] jlec opened #20 "Include tests"
Downstream projects like Linux distributions like to test the packages during installation. Please include the tests needed for the test suite in you releases at pypi.

[2015-08-27 21:08] Grokzen commented on #20
@jlec Uploaded version 1.4.1 to pypi, do you think that will be enough for testing? If you need any other files just ping

[2015-08-31 06:06] jlec commented on #20
Cool, that is perfectly fine.

[2015-08-31 06:06] #20 closed

[2015-09-15 19:25] comagnaw opened #22 "regex;(blah[1-2]) - AttributeError: 'dict' object has no attribute 'encode'"
Using the below schema:

[code]

against this data:

[code]

I am getting the below stacktrace:
[code]

I would have expected to see a more descriptive warning which indicates a bad keyword at 'blah3'.  If I update the schema to the below, I get clean results:

[code]

Are strict regex matches supported for mapping keyword checks?

[2015-09-15 20:02] comagnaw commented on #22
I modified the unstable branch on my local copy and I am now getting better results.  I removed the .encode method from the value and it seems to be running cleaner and I get a more appropriate error:

[code]

See below output now.  Not sure if the Path is missing because the yaml is not that complex or if there is something else missing.

[code]

[2015-09-16 19:50] Grokzen commented on #22
@comagnaw I will have a look at this and play with it some during the weekend and get back to you. It looks like the fix you have made should be enough but will see.

[2015-09-22 19:04] comagnaw commented on #22
@Grokzen thanks for the response. Any updates regarding your testing and fix?

[2015-09-27 20:24] comagnaw opened #25 "Multi regex and matching-rule any reporting failure even though there should be a match."
Data file:

[code]

Schema file:

[code]

I would assume that 'bar2' would pass using the matching-rule `any`.  However, I am getting the below failure message:

[code]

[2015-09-29 00:20] comagnaw commented on #25
@Grokzen I think I found the issue.  Doing some debugging I found that sub_regex_result was not populated with the expected results:

[code]

I changed line 473 of  core.py from a re.match to re.search:

[code]
and got the following results.

[code]

This is due to the behavior of match vs search.  Match only looks at beginning of string whereas search finds first match anywhere in string.

I can

[2015-09-30 21:34] #22 closed

[2015-09-30 21:34] #25 closed

[2015-11-29 14:47] nowox opened #29 "How to associate a schema to a YAML data?"
In XML you can specify your XSD with a XML `xsi:schemaLocation` attribute. YAML specs lack with kind of information.

So in my opinion two options are possible:
1. Using a global tag:

[code]
1. Having a special key in the YAML description

[code]

The second method allows to embed the schema inside the YAML description, this could be nice. Also, it allows to partially apply a schema to a particul

[2015-11-29 19:02] Grokzen commented on #29
The only one that i might consider to implement is the first suggestion. The main reason is that i do not like to open up the mix of data and schema in the same file, i think it is very messy. The best thing about the first option is that when there is a pointer to the resource, it can be implemented in a way that opens up for any type of location of that resource. It would make sense to implement

[2015-11-29 19:38] nowox commented on #29
I agree with you, I also prefer the first option while the `%SCHEMA` may be not recognized by all parsers. That said it is not a forbidden tag so I guess we are free to use it.

From the YAML specs the two recognized `%` commands are `%YAML` and `%TAG`. So we could also use something like this:

[code]

Last but not least, using the word `%SCHEMA` is perhaps a bit pretentious in the way it says Py

[2015-11-29 21:01] Grokzen commented on #29
I am still more in favor of the initial suggestion of
[code]
because it is more clean and easier to use. Atleast pyyaml do not throw up if i add `%SCHEMA` at the top of the file but at the same time i understand that the specs is more in favor of `%TAG !schema! ...`. But on the other hand so did i find this in the spec
[code]
So that any tag can be implemented and the spec says that it should be c

[2015-11-30 17:20] nowox commented on #29
So let's choose `%SCHEMA` and make a new standard for `%YAML 1.3` that all the World will use !

The next step will be to extend `PyYAML` to support `PyKwalify`...

[2015-11-30 21:42] Grokzen commented on #29
And after that, world domination :]

![worlddomination](https://i.kinja-img.com/gawker-media/image/upload/idwp0z2wdimdtvegz0ao.png)

But `%SCHEMA ...` it will be, i think that initially only `file://` will be supported out of the box but a plugin type of system shall also be added so that it can be extended to support other formats in the future.

[2015-12-13 10:59] Grokzen opened #30 "Port docs to readthedocs site"
All the docs should be ported and moved to a readthedocs site.

[2015-12-24 14:28] AlexandreDecan opened #31 "Question: recursive types?"
Hi!

I've a question about pykwalify's handling of nested types. Is it possible to define new recursive types? For example, if I want to represent a filesystem whose depth is not known at schema definition. How can I do that?

Here is a fake example of such a YAML file:

[code]

Is this kind of nested structures already supported?

[2015-12-24 15:31] Grokzen commented on #31
Hi.

It would make a little bit easier if you could provide an example data structure that you want to validate. It should be rather easy to do something with `partial-schemas` and the `include` directives. Also it would help some with what you really want to validate in the data structure. Are you after validating all file names is valid or directory names?

[2015-12-24 19:28] AlexandreDecan commented on #31
I'm currently working on a tool to interpret and check statecharts (see [sismic](https://github.com/AlexandreDecan/sismic)). I use YAML to define statecharts. In a nutshell, a statechart is a set of states, and each state can also have nested states and so one.

Here is a simplified example:

[code]

The root element, namely `statechart` defines a `states` sequence. Each item in this sequence is a

[2015-12-24 22:49] Grokzen commented on #31
Oh yeah, that is supported right now. You should be looking at the following feature https://github.com/Grokzen/pykwalify/blob/unstable/docs/Validation%20Rules.md#partial-schemas

Basically you define the top level `statechard` level and then you implement a partial schema that defined the following level

[code]

Just to get you started on a schema that you can finish up is the following
[code]

[2015-12-25 08:53] AlexandreDecan commented on #31
I'll have a look at partial-schemas.
Thanks for your answer!

I'll probably get back with new questions ;-)

[2015-12-25 10:21] AlexandreDecan commented on #31
I still have to do some modifications, but here's the resulting schema. Thank you again!

[code]

[2015-12-25 10:21] #31 closed

[2015-12-25 13:33] Grokzen commented on #31
Awesome that you got it to work :]

I hope you do not mind if i use a subset of the final answer in a example file for `Advance Recursive Schema Example`

[2015-12-26 08:37] AlexandreDecan commented on #31
Yeah, feel free to use it ;)

[2016-01-02 02:31] arxanas opened #32 "When will commit 9da45c7 be released on PyPI?"
Commit 9da45c7 fixes an issue with displaying information about a scalar value not matching a pattern, which I've hit and will probably confuse the users of my software.

[2016-02-04 15:33] jdandrea opened #33 "No line numbers, traceback in CLI output"
Is there a way to show line numbers (as kwalify does) and suppress traceback when validating using the CLI?

[2016-02-04 17:56] Grokzen commented on #33
Just to be sure what you mean, do you just want to supress the tracebacks on validation error and keep all other output? Or do you want to supress all output, you can do this with `-q` for quiet verbosity and it should silence all output.

When showing line numbers, where exactly do you want it? I do not really run the original kwalify so i can't see where it shows line numbers :]

[2016-02-04 19:39] jdandrea commented on #33
Yes, I'd like to have the option to suppress (or permit?) tracebacks specifically and keep other output.

As for the line numbers, see [this example](http://www.kuwata-lab.com/kwalify/ruby/users-guide.01.html#schema-seq).

Both of these would be a big help with user experience. If I can figure out the needed changes and issue a pull request, I'll be happy to do that too, but I wanted to ask first

[2016-02-04 21:30] jdandrea opened #34 "AttributeError when evaluating timestamp"
Given the following source:

[code]

... and schema:

[code]

I get an AttributeError on datetime.date (is it expecting a string?):

[code]

[2016-02-05 16:46] Grokzen commented on #33
To supress the traceback is something that is really easy to implement if `-q` is not enough.

The linenumber thing i am not so sure about how to implement because i am not aware of any support inside pyyaml to determine what line any key/value is sourced from. It would have to be investigated further if this is possible in pyyaml.

[2016-02-05 16:55] Grokzen commented on #34
Hmm. This might be that pyyaml converts certain strings that looks like datetime objects to real datetime objects. If you would add quotes to `"2013-05-23"` this would not happen. Either this or if pyyaml supports disabling this automatic convertion of datetime objects so that the code do not have to handle the 2 different ways.

[2016-02-05 17:47] jdandrea commented on #34
Ahh, that may be it.

The templates that we see out in the wild never seem to have quotes around this particular string. We may need to do some pre-processing. Will look some more.

[2016-02-05 18:05] jdandrea opened #35 "Conditional validation?"
Let's say we have this contrived example YAML:

[code]

Presume that we can't change the format. In this case, each food gets an arbitrary (key) name, and the classification of each food must be kept separate from its properties.

I'm trying to find a way to conditionally validate the name property of a food based on its classification. In this example, if the classification is "fruit" then I want

[2016-02-05 18:20] jdandrea commented on #33
Ah, sounds good, and understood about the linenumber thing. Honestly, for me, the path is plenty. For folks who are used to going to line X and fixing something, then it becomes problematic, and that's where I'm trying to see if there's a way to do that. I imagine it's not trivial.

Keep it as a wish list item, perhaps? Not urgent, and maybe I'll be able to help figure it out. For the traceback su

[2016-02-05 18:47] Grokzen commented on #33
I changed the title of this and keep is as an idea. If i find some way to do this in a way that is not too complicated, i will give it a shot.

[2016-02-07 22:21] Grokzen commented on #35
Hmm. Conditional validation based on some completely different part of the data tree is nothing that is really supported by either `kwalify` or `pykwalify` and i am not really sure how this kind of syntax would even look to support this kind of operation. You would need some kind of logic with `if/else/elseif` and  some way to refer to data inside the data structure and i think it would just be me

[2016-02-08 14:11] jdandrea commented on #35
Excellent points. Thank you! I tried the extensions, and the capability is quite wonderful. Still, it seemed like overdoing it (like you wrote, messy).

Then I thought: What I really have here are multiple schemas, one for each pass (fruit, vegetable, etc.). Why not just run them one at a time, and-ing the results together?

I don't know if there's any performance benefit by having pykwalify allow

[2016-02-08 17:03] jdandrea commented on #35
Ahh, turns out the individual schemas won't work in this case because of the repeated use of `regex;(.+):` (each template fails for all the food IDs that don't fit its particular type of food). If I could say "only have to match at least one of these" then I'd be set. Not sure if that's congruent with ```kwalify```.

The thought of putting too many smarts into the extension also takes away from th

[2016-02-18 08:27] holtgrewe commented on #32
I'm also having this problem. Can we get a new minor/patch release?

[2016-02-22 16:28] pierre-borckmans opened #37 "Bug in raising NotSequenceError"
There seems to be a bug in sequence validation.
Here's the stack trace from validating a yaml file where a field was supposed to be a sequence of objects but was in fact an object:

[code]
which points to:
[https://github.com/Grokzen/pykwalify/blob/unstable/pykwalify/core.py#L285]

[2016-02-22 16:48] Grokzen commented on #37
If possible, can you provide a `schema.yaml` and `data.yaml` that cause this bug? Without this, it is hard for me to track down the error.

I think i get why this happens and what to do, but is possible i would need that.

[2016-02-22 22:31] bodenr opened #38 "unique not enforced on mappings"
I may be missing the semantics of ```unique``` when used within a mapping.

For example...

Schema
[code]

data file:
[code]

py code:
[code]

No validation errors... How can I constrain the map keys to only being used once?

[2016-02-22 22:53] Grokzen commented on #38
Hi.

First some things about the `unique` operator is that it is intended to be used with sequences/lists/sets mostly. Now when i look in the docs is says that it works for maps but that is not true.

If you try to load your data part into a object with plain `yaml` inside python, it will because it is a key/value object, overwrite the first k/v with the second k/v and the output from your data wi

[2016-02-22 22:58] bodenr commented on #38
Thanks for the info. I agree that updating the docs could benefit users; this defect case in point :)

[2016-03-02 11:28] gijzelaerr opened #39 "issues with float, None and scientific notation"
Hi!

I'm trying validate some json I have. The json contains a mapping with float values. pykwalify probably correctly pykwalify doesn't accept float values like 1e-06 and None:

[code]

So 2 questions (or maybe issues):

* isn't 1e06 just valid syntax? Python eats it as float:
[code]

* Is it possible to give multiple types for a specified key in a mapping? I just can't figure it out. My none pro

[2016-03-02 11:52] Grokzen commented on #39
Hi.

Can you provide an example of the data in yaml format that you are trying to validate? I think that if pyyaml do not automatically convert the data on load then i am not sure if it is currently possible or not. If you build a datastructure in python and use the `Core` object directly, your data should already be casted to a float as is.

About multiple types for mappings, it was not part (to

[2016-03-02 12:10] gijzelaerr commented on #39
Hm, yes, you are right, yaml doesn't parse the scientific notation as a float but as a string.

example:
[code]
output:
[code]

[2016-03-02 12:23] gijzelaerr commented on #39
Sorry, i've been mixing up parsing yaml and json in my example. here an other example

[code]

output:

[code]

so the problem is indeed in the yaml parsing (shouldn't parse json with jaml parser anyway). When parsed with the json parser it works. Sorry for the confusion.

Still having support for multiple types for a value in a mapping would be very useful!

[2016-03-02 12:39] gijzelaerr commented on #39
Related to your suggestion to setting the required filed to silence the None error, that doesn't seem to work:
[code]

output:
[code]

[2016-03-02 14:05] Grokzen commented on #39
Hmm that is true that it should not silence them, the type validation will still fail, required for mappings is that data can be allowed to be missing.

The main problem with adding some kind of support for multiple type validations for a key is that how the synxat should be changed to still preserv backwards compatibility with kwalify but at the same time add this new feature and also at the same

[2016-03-04 09:48] gijzelaerr commented on #39
so currently syntax for a mapping is:
[code]
How about adding a keyword `types`, which accepts a list of types:
[code]

I don't see any backward compatibility issues there and it makes sense.

[2016-03-04 12:07] Grokzen commented on #39
I like the idea, but i do think that problems could apear that makes it abit more complicated to code and work with.

Depending on what `type` you specify, you need to have some fields to support validation the specefied types. For example, if you want to specify both `map`, `seq` and `str`  as valid types for a data structure (there might be several cases where this is valid) you need to have `ma

[2016-03-04 20:41] Grokzen commented on #37
Hi @pierre-borckmans

I do think that the following commit fixes this issue, https://github.com/Grokzen/pykwalify/commit/63fc9c9786e0ee05adf50c781d0b5aa7ce402d62 the updated behaviour only tries to encode string objects and not all object types.

[2016-03-04 20:41] #37 closed

[2016-03-04 20:46] Grokzen commented on #38
The following commit changes the docs 2af3ea79c076f0f745b6e71dd48f7d92574607b3 to now say that is has no effect on mapping.

[2016-03-04 20:46] #38 closed

[2016-03-05 00:52] Grokzen commented on #34
Hi @jdandrea The following commit df9a6bfb68629a5615c2488b114cd15438f1ea3f should fix your problem with proper datetime objects. It also supports more modes of validation now :]

[2016-03-05 00:52] #34 closed

[2016-03-05 12:50] Grokzen commented on #39
The following commit 4372aded82cd044c31bb68f232b1fda8b94e8e90 fixes the scientific notation part of the problem. The multiple types in mapping is still a open problem, but i have been thinking about it some and i might have some ideas on how to possibly support it, but it will take some time to test it out and possible implement it.

[2016-03-06 12:59] Grokzen commented on #32
New release `1.5.1` created that includes this commit

[2016-03-06 12:59] #32 closed

[2016-03-07 08:24] gijzelaerr commented on #39
awesome, thanks!

[2016-03-07 08:24] gijzelaerr commented on #39
let me know if you need some input or to share some thoughts.

[2016-03-07 12:10] Grokzen commented on #39
@gijzelaerr Would you mind if i close this one as fixed because of the scientific notation fixes that is included in `1.5.1` and create a new one that investigates the support for multiple types in the same level?

[2016-03-07 12:27] gijzelaerr commented on #39
sure!

2016-03-07 14:10 GMT+02:00 Grokzen <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2016-03-07 15:39] jdandrea commented on #34
Thank you! That's fantastic and appreciated.

[2016-03-07 18:07] Grokzen commented on #34
@jdandrea If you find some more edge cases that still breaks for timestamps or any other field, please do not hessitate to open a new issue and i will take a look at it :]

[2016-03-07 20:02] #30 closed

[2016-03-21 15:37] bneron opened #41 "setup.py fail"
the setup.py look for a file ReleaseNotes.rst which obviously does not exists

[code]

[2016-03-21 15:47] bneron opened #43 "error in usage"
the pykwalify usage is in conflict with the documentation on readthedocs
usage:
-d FILE, --data-file FILE            the file to be tested
-s FILE, --schema-file FILE          schema definition file

readthedocs:
pykwalify -d data.yaml -s schema.yaml

[2016-03-21 20:16] Grokzen commented on #43
Related PR merged. Thanks.

[2016-03-21 20:16] #43 closed

[2016-03-22 11:38] Grokzen commented on #41
Merged PR. Thanks :)

[2016-03-22 11:38] #41 closed

[2016-03-22 11:49] Grokzen opened #45 "Investigate support for multiple validations for same key in mapping"
As talked about in #39 there is a request that you want a easier way have multiple validation paths for one key in a mapping. This would however invent a new syntax.

[2016-03-22 11:49] Grokzen commented on #39
Ticket created. Closing this because scientific notation was fixed in `1.5.1`

[2016-03-22 11:49] #39 closed

[2016-03-22 11:54] Grokzen opened #46 "Create different versions of validation rules"
Currently there is some problems with that the syntax definition just grows as more and more features is added on top of the original kwalify syntax.

The long term suggestion is to make 2 different syntax schemas where one is a `strict` version that just implements the syntax that the original kwalify supported. Then there should be a newer and more modern version of the syntax that has all the b

[2016-03-22 12:31] bneron opened #47 "pattern fail if data to validate is encoded in utf-8 with python2.7"
in python 2.7 if a yaml contain uf8 characters and if we try to validate field with pattern.
an error is raised
[code]
whereas it works in python3

[data.zip](https://github.com/Grokzen/pykwalify/files/184082/data.zip)

[2016-03-26 09:22] Grokzen commented on #47
PR Merged. Closing.

[2016-03-26 09:22] #47 closed

[2016-03-28 15:06] smalleni opened #53 "Allow key to be specified or left empty"
Is this feature present in the current release?

I am using a single schema file to validate against different scenarios. Some of the scenarios have a specific key and some don't. I would like to be able to specify in the schema to ignore if the key isn't present.

[2016-03-28 15:25] Grokzen commented on #53
@smalleni Can you provide the schema/data you are having problems with or can you provide an example schema/data that breaks? Would make it easier to help.

[2016-03-28 15:53] smalleni commented on #53
So, I'm using pykwalify to verify the configuration file I am passing to a test suite.
Primarily, the test suite consists of tests for "rally", "perfkit" and "shaker" so all the options required for these tests are passed through a confiugration file.
However, sometimes a configuration file with only options for one of the tests mentioned above is passed and the code in the test suite executes onl

[2016-03-28 16:24] Grokzen commented on #53
It sounds like you are looking for conditional validation and there is already a similar issue for that here #35 where you can read up on some of the things i suggested over there.

The short answer is that there is no direct support for simple conditional validation where you can say `if this then that` or `if not this then that` and similar things. This has not been implemented because it is not

[2016-03-28 16:41] smalleni commented on #53
@Grokzen ..thanks for the detailed explanation. Appreciate it

[2016-03-28 16:44] Grokzen commented on #53
No problems :) If you find a solution that works, pleas share it and close the issue if it works.

[2016-03-28 17:09] smalleni commented on #53
@Grokzen ..just another question..my scenario file has a list of dictionaries and the keys could be different each time, so i don't want to test for  names but just want to check if the  the sequence is a list of dictionaries.
[code]
Validation throws an exception, looks like the key values are being expected  for the mapping. Anyway to get around this?

[2016-03-28 17:42] Grokzen commented on #53
Yeah, that looks more like a bug. There are some special cases and processing that is done when a map is found inside a sequence and it could be a missed case that is not working properly. I will add it to my TODO list :)

[2016-03-28 17:57] smalleni commented on #53
@Grokzen I can open an issue for that if that helps. Thanks.
Having required set to False serves the purpose of getting around this issue. Closing it.

[2016-03-28 17:57] #53 closed

[2016-03-29 03:04] smalleni opened #54 "Validate if list contains dictionaries without validating keys in dictionary"
If scenario file has a list of dictionaries and the keys could be different each time, and user doesn't want to test for key names but just wants to check if the the sequence is a list of dictionaries.

[code]

In the above case, user just wants to check if plugins is a list of key value pairs.
The above schema validation throws an exception. It would be nice to have this feature as discussed in #

[2016-03-30 13:35] crdoconnor opened #55 "Un-fix the versions of docopt, PyYAML, python-dateutil"
Currently the versions are fixed, which is giving me errors on Mac OS X when I have python-dateutil==2.5.2.

I don't believe there's actually any problems with PyYAML and python-dateutil==2.5.2, however.

[2016-03-30 15:57] smalleni commented on #55
+1 been struggling with this

[2016-03-30 17:14] Grokzen commented on #55
There is no specific code inside pykwalify that requires the specefied version of python-dateutil==2.4.2, it was just that version that got frozen when i did the lib a while back. They wore frozen late 2014 to early 2015.

I can possibly loosen the imports to the following without that much effort:

 - PyYaml to 3.10-3.11
 - docopt to 0.6.1 to 0.6.99
 - python-dateutils to 2.4.0 to 2.4.99 at first

[2016-03-30 17:15] Grokzen commented on #55
Either i do this, or i will have to vendorize all the dependencies and then they can live in parralell of any other source code that you have that depends on a different version of python-dateutils for example.

[2016-03-30 23:20] crdoconnor commented on #55
What's the problem with just specifying >=3.10, >=0.6.1 and >=2.4.2 ?

Your tests ought to break if any of the dependencies introduce breaking API changes, right?

[2016-03-31 10:37] Grokzen commented on #55
If i just say that it should have a min version, i have no control over what dependencies i have tested this lib against. If python-dateutils would put out 3.0.0 for example, it would still be valid and acceptable to use when installing this package, but i have never tested it or verified that it works or even know what has been changed, it could break everything and i would have to deal with a bi

[2016-03-31 18:15] crdoconnor commented on #55
What if I created an automated workflow (zapier seems to be capable of this) that triggers a new build on travis that re-runs the tests when a new version of one of pykwalify's dependencies is released?

That way you'd get near-instantaneous notification of an upstream API change that causes a test failure/pass, at which point you could either fix the problem (if it's minor) or quickly introduce a

[2016-04-26 13:30] jzohrab opened #56 "Readthedocs doesn't have any docs."
The README says "All documentation can be found at http://pykwalify.readthedocs.org/en/latest/", which exists but is empty.  Should this link be changed to http://pykwalify.readthedocs.org (which redirects to http://pykwalify.readthedocs.org/en/unstable/) ?

[2016-04-26 13:38] Grokzen commented on #56
Currently it should redirect to the unstable site because the commits that added readthedocs is not part of a release yet so the commits is not part of master branch yet. When a release is done i will change the default branch back to latest/master and it will be as expected.

[2016-05-06 11:04] realcr opened #57 "AttributeError: 'int' object has no attribute 'encode' (In _validate_sequence)"
When trying to validate a YAML file with integer instead of a sequence, the following exception occurs:

	    def _validate_sequence(self, value, rule, path, errors, done=None):
		log.debug(u"Core Validate sequence")
		log.debug(u" * Data: {}".format(value))
		log.debug(u" * Rule: {}".format(rule))
		log.debug(u" * RuleType: {}".format(rule._type))
		log.debug(u" * Path: {}".format(path))
		log.de

[2016-05-06 11:19] Grokzen commented on #57
What version are you running with? The latest released?

[2016-05-06 11:37] realcr commented on #57
Hi Grokzen, thank you for the quick response.

    $ pip freeze | grep kwa
    pykwalify==1.5.0

I will soon check this issue on the latest version (1.5.1) and tell you if the problem is solved.

[2016-05-06 11:45] realcr commented on #57
Indeed the issue is resolved in version 1.5.1
I have seen now that you have reorganized the exceptions code, so I just changed my code accordingly to catch pykwalify.errors.PyKwalifyException.

Thank you for your great work. It is very helpful :)

[2016-05-06 11:45] #57 closed

[2016-05-11 12:35] Roysten opened #58 "Replace PyYAML by ruamel.yaml"
Wouldn't it be a good idea to drop PyYAML and replace it by the actively developed [ruamel.yaml](https://bitbucket.org/ruamel/yaml/overview)? It support YAML 1.2 and is a fork of the original PyYAML. It looks like it is a drop-in replacement (at least it was in my personal project :smile: ).

I'll be happy to submit a pull request.

[2016-05-11 12:46] holmboe commented on #58
Do you have the history behind ruaemel.yaml, reasons for forking etc? Has there been any effort to merge back features into pyyaml?

[2016-05-11 12:49] Roysten commented on #58
I think this thread sums it up pretty well: https://bitbucket.org/xi/pyyaml/issues/59/has-this-project-been-abandoned. The original author of PyYAML does not actively maintain the project anymore, doesn't respond to emails etc., which makes it impossible for others to contribute.

[2016-05-11 14:39] Grokzen commented on #58
@Roysten I will Not just drop pyyaml to replace it with anything else. But what i can do is to add a import test/check if ruamel is installed as a dependency and use that over pyyaml but allways default back to pyyaml becuase pyyaml is still so common in the wild and i have never seen a project that has ruamel.yaml as either supported or default implementation for loading yaml files.

[2016-05-16 06:33] Grokzen commented on #58
@Roysten This branch implmenets this behaviour https://github.com/Grokzen/pykwalify/tree/feature/ruamel.yaml, Look it through.

[2016-05-16 17:41] Roysten commented on #58
@Grokzen Wow, I was not expecting it implemented this quicky! Looks great!

[2016-05-17 06:17] Grokzen commented on #58
@Roysten The change was very small and easy to implement :D

[2016-05-17 06:19] Grokzen commented on #58
#59 Is the MR that will add this feature

[2016-06-03 18:33] jdandrea opened #60 "Quotes are required to validate datetime type"
Given the schema:

[code]

and data:

[code]

The following error is returned:

[code]

However, enclosing the date in quotes works:

[code]

Expectation: Quotes should not be required for the value to be recognized as a valid datetime type.

[2016-06-03 18:33] jdandrea commented on #60
(Also suddenly getting a feeling of deja vu. I think I filed something similar to this a while ago. Hopefully not the same thing! Maybe related.)

[2016-06-03 23:28] Grokzen commented on #60
What version are you running this on? the latest released? It should be rather easy to track down.

[2016-06-04 09:30] Grokzen commented on #60
@jdandrea I think i found the reason for this. If you look here https://github.com/Grokzen/pykwalify/compare/1.5.1...unstable#diff-80ba2584958bd7cca1bb82dd943c87cfR241 (The diff between last release and HEAD you see that there is tests in there to validate just this case and i think there is a fix in there somewhere to sort out your timestamp problem. I will go through the current changes and see

[2016-06-04 09:39] #58 closed

[2016-06-04 09:39] Grokzen commented on #58
@Roysten Feature will be part of next release.

[2016-06-06 20:01] jdandrea commented on #60
Thank you in advance! Yes, I'm on 1.5.1.

[2016-06-10 01:35] cloudtoad opened #61 "Add min/max to regex keyword"
Consider:

[code]

Would be nice if we could specify the min/max constraints under a regex.  These would specify the minimum and maximum number of matches for that regex.  Before I take a stab at it, any initial thoughts?

[2016-06-10 01:58] cloudtoad commented on #61
I think this could be the syntax:

[code]

[2016-07-27 14:01] jmtd commented on #54
I think I've hit this. For completion's sake here's a minimal test case, and the exception thrown

data:
[code]

schema:
[code]

exception:
[code]

Version: 1.5.1 (via PyPI)

[2016-07-27 14:04] jmtd commented on #54
..actually I hit it with even the following, no seq involved

schema:
[code]
data:
[code]

[2016-07-27 19:15] Grokzen commented on #54
@jmtd Have you tried the schema/data with the latest commit in `unstable` branch?

[2016-07-29 00:08] grovduck opened #62 "Support for default rule on mapping?"
I may be using the syntax incorrectly, but is there support for the `=:` syntax from kwalify such as shown in section 2-3 from [here](http://www.kuwata-lab.com/kwalify/ruby/users-guide.02.html)?

I'm trying to use it where I may have many different map keys, but each has the same sequence associated with it, e.g.:

[code]

When running this through pykwalify, I get the following errror messages:

[2016-07-29 01:29] Grokzen commented on #62
@grovduck Can you provide an example data that you run against?

[2016-07-29 03:11] grovduck commented on #62
@Grokzen, sure, here's the schema file (```strata_schema.yaml```):
[code]
and here's a snippet of the data that causes a failure (```strata_definitions.yaml```):
[code]
Here's the command and error message:
[code]
[code]
I'm using ```pykwalify==1.5.1```, ```PyYAML==3.11``` on Windows 7 using Python 2.7 64-bit.  Thanks for your help.

[2016-07-29 10:29] Grokzen commented on #62
Aha, i see what the problem is, that features is just missing here. It should also be rather easy to implement and i can look at implementing it over the weekend.

[2016-08-16 02:19] kesre opened #63 "Allowempty permits non-map values"
### Observed:

Providing 'allowempty' with type: 'map' validates non-map values.
### Expected:

Based on documentation:

I would expect 'allowempty' to only permit:
- an empty map
- map with keys not in the schema

Otherwise, I would expect a NotMappingError
### Example:

[code]

[2016-08-16 02:20] kesre commented on #63
Not very familiar with the code at all, but at a brief glance,

I'm wondering if this happens because _validate_mapping returns too eagerly in the case of allowempty. (https://github.com/Grokzen/pykwalify/blob/b064c609290866310f6ecc8cae42f3e7b4b81a67/pykwalify/core.py#L436 - commit sha here is to make sure I have the right line - not the commit that introduced problems)

I'd expect some sort of ch

[2016-08-18 11:22] hari44330 opened #64 "Returning False in custom validation raising core error"
Hello,

In custom validation function, when I return False I get the following error

File "/usr/local/lib/python2.7/dist-packages/pykwalify/core.py", line 238, in _handle_func
    raise CoreError(u"Error when running extension function : {}".format(func))
pykwalify.errors.CoreError: <CoreError: error code 3: Error when running extension function : is_valid_ipv4: Path: '/'>

But it is working fine

[2016-08-18 11:54] hari44330 commented on #64
I just found out that, it is the expected behavior. Sorry for the wrong alert

~Hari

[2016-08-18 11:54] #64 closed

[2016-08-23 20:44] bdunlay opened #66 "required attribute ignored when including partial schemas."
I expected the following two schemas to behave the same. Both should require `A` be defined in the schema. In actuality, the partial schema seems to ignore the `required` attribute.
### Data

[code]
### Full Schema

[code]
### Output (Error Expected)

[code]
### Partial Schema Included

[code]
### Output (Error Expected)

[code]

[2016-08-23 22:05] bdunlay commented on #66
I wrote another example that demonstrates this behavior happening at a level below the root as well.

### Data

[code]

### Schema

[code]

### Output

[code]

### Partial Schema

[code]

### Output

[code]

[2016-08-24 14:14] Grokzen commented on #66
Interesting problem/cornercase you found out. I can see why it would fail and i can explain some why it happens.

How partial schemas is implemented is that they are loaded into the top level yaml data structure and when you get to a include directive the code do not append the partial schema and replaces the include with the schema and continues to validate. But what does happens is that when you

[2016-08-24 17:44] bdunlay commented on #66
Thanks for your response and insight. I did notice that all keywords are in fact ignored at the level and I think you should probably validate those regardless of which approach you take. The fact that it wasn't complaining when `required` was there was very misleading.

I could argue for having the `required` be at either level, in the main or in the include, but as it stands either of them works

[2016-08-24 19:11] bdunlay opened #67 "Sequences of mappings are not validated"
[code]

[code]

[code]

[2016-08-26 08:57] jmtd commented on #54
Hi, sorry for the delay. Yes I can confirm this with 65962937fc083df2d51918913c3efab6edd050d7

[2016-08-29 21:35] Sviftel opened #68 "Unknown scalar type checking"
Data:

[code]

with scheme:

[code]

returns:

[code]

[2016-08-29 21:46] Sviftel commented on #68
Seems like `pykwalify.types.tt` is missing `"scalar": is_scalar` key-value, which is required in `pykwalify.core._validate_scalar_type()`.

[2016-08-30 08:05] Grokzen commented on #68
@Sviftel Nice catch. It was a easy fix and made in https://github.com/Grokzen/pykwalify/commit/916edf08c12669cc6f794dc54002202902a4c5d1

[2016-09-04 10:07] AlexandreDecan commented on #55
I ran into issues with the way pykwalify specifies its dependencies since PyYAML recently updated.

You should **really not** fix dependencies versions for pykwalify, even if this means that a backward-incompatible update may break pykwalify. Iif this happens, people will tell you and you'll just have to fix the version constraint in that case. In the meantime, people can still manually specify wh

[2016-09-07 02:00] mrproper opened #70 "Unique for mapping"
it seems that kwalify in ruby supports unique for sequence AND mapping, the pykwalify only supports it for sequence.

this seems to me pretty important.

see the following example:

[code]

based on the fact that pyaml will just load the last key this can have some pretty scary consequences

[2016-09-07 09:51] nowox commented on #29
I would like to work on this implementation, but I need more inputs. What do we decide? Does it worth to inform maintainers of the YAML standard?

[2016-09-07 11:04] fwtu commented on #55
Just spent half an hour tracking down some dependency issues with a CI package build to this issue. Please do not pinpoint versions of dependencies. +1 for accepting #69 asap.

[2016-09-12 12:05] gijzelaerr commented on #55
I'm experiencing the same issue at moment when using pykwalify in combination with other projects. As far as I know one should not be too strict on the version number in setup.py since then you run into problems like this.

[code]

[2016-09-15 15:23] Grokzen commented on #55
@gijzelaerr @fwtu @AlexandreDecan @crdoconnor @smalleni Fixed in unstable branch right now with this commit 8c3327ebbd6d76cd07a48f5ae9c62cee58694090 Closing issue as fixed

[2016-09-15 15:23] #55 closed

[2016-09-15 15:29] Grokzen commented on #70
@mrproper This thing has come up before and to fix it here in python i would have to hack inside pyyaml when using that within this lib to somehow hijack the data loading process or some other hook and then use that as a validator for the unique field. Because of this complexity do not expect this to be fixed any time soon. The only way this would be fixed right now is if someone else would submit

[2016-09-15 17:26] AlexandreDecan commented on #55
Thank you!

[2016-09-16 00:56] mrproper commented on #70
cool, thanks for the update, i expected as much but i thought id get it on here to at least track it at some point =)

[2016-09-16 07:26] Grokzen commented on #70
@mrproper When something is deprecated it is usually on the way out from the code but it is still in there for compatibility and support for a few versions until people have had enough time to switch over. It is not so good practise to just rip something that deep inside the core out just like that.

Ruamel.yaml have the same problem as i mentioned above. But with ruamel i have not yet looked at t

[2016-09-27 19:19] jcfr opened #71 "Partial schema issue when used with mapping"
Thanks for maintaining this project

While trying to use partial schema with map, I notice a small problem with use of partial schema with mapping.

The snippet posted below is failing whereas I think it should not.
- version used if 8c3327e from  Sep 3 2016
- To reproduce:

[code]
- error reported:

[code]

[2016-10-07 10:55] jmacarthur opened #72 "Can't mix normal keys and regex keys?"
I'd like to validate this data, which is part of the OpenControl project:

[code]

If I try and use this schema:

[code]

Then it won't match, giving the error `- Key 'name' does not match any regex '[A-Z]-'. Path: ''.: Path: '/'>`. You can work around this by matching with `regex;/^name$/:`, but it's not clear in which order the regexes would be checked if several of them matched.

[2016-10-10 17:05] jmacarthur commented on #72
Raised pull request #73

[2016-10-18 14:41] nowox opened #75 "Documentation not available on readthedocs"
The hyperlink on https://github.com/grokzen/pykwalify:

All documentation can be found at http://pykwalify.readthedocs.org/en/latest/
This readme contains a reduced version of the full documentation.

Does not work. It shows me an error message:

[code]

A correction to this issue is pending here #74

[2016-10-24 09:57] nowox opened #77 "Value 'None' is not of type 'str'"
With this YAML:

[code]

And this schema:

[code]

I get the error "- Value 'None' is not of type 'str'". However, a string can be empty.

A key `allownone` should be supported for this particular case.

[2016-10-24 10:40] Grokzen commented on #77
@nowox This is not an issue becuase yaml handles that data field properly because if i do the following in python

[code]

i get back a `None` value and that is correct one as i see it.

The only way  you can solve this is to explicitly cast the value in the data part to a string by doing the following:

[code]

This is only considered a problem if yaml would interpret the yaml file above a string

[2016-10-24 10:43] Grokzen commented on #70
@mrproper A update to this problem is that i might go back on the decision to remove pyyaml in next release as pyyaml have done a release a while back. It might just be that i will change the default yaml parser to ruamel yaml as it appears to be more active then pyyaml but both will still be supported in the code depending on what your needs are.

[2016-10-24 18:35] nowox commented on #77
Thanks for your complete answer. Unfortunately I realized that most of my issues with PyKwalify are in fact due to limitations of YAML itself. The `None` issue is recurrent but other ambiguities such as `{foo: 3.14e-3}` which is not interpreted as number but as a string cannot be used with `range`. PyKwalify offers no mechanisms to cast or transform a value prior the validation. I've tried to dig

[2016-10-25 00:26] Grokzen commented on #77
@nowox I got no problems with that :)

One thing i can add about some intentions with pykwalify that i might not be that open with or have stated somewhere more in details is that the original idea of pykwalify was to make a port of kwalify lib and the kwalify specification that was done a while back. I did not intent for this lib to grow anything beyond the original kwalify spec (even if it has i

[2016-11-01 23:40] #68 closed

[2016-11-05 15:19] Grokzen commented on #72
@jmacarthur Closing this because mentioned MR #73 was merged.

[2016-11-05 15:19] #72 closed

[2016-11-05 15:20] Grokzen commented on #75
@nowox I know it is missing. It will self correct when i push the next release `1.5.2` and when the readthedocs refactoring will be included in master branch. Closing this for now, release should be out very soon.

[2016-11-05 15:20] #75 closed

[2016-11-05 15:22] Grokzen commented on #60
@jdandrea Release will be out later today. Closing this for now.

[2016-11-05 15:22] #60 closed

[2016-11-05 15:22] Grokzen commented on #56
@jzohrab i know about this. This will be fixed when i do the next release that will be out later today. clsoing this for now.

[2016-11-05 15:22] #56 closed

[2016-11-05 15:27] Grokzen commented on #77
@nowox I will close this issue becuase there is no real reason for keeping this open becuase there is nothing i can really do with this issue becuase pykwalify will never add the ability to alter how pyyaml or ruamelyaml internals work and to patch around the problems that they bring to the table.

The only known solution right now is to either use another type of validation type for the value you

[2016-11-05 15:27] #77 closed

[2016-11-05 15:51] Grokzen commented on #71
@jcfr Hi. First i must say you compiled a very good and easy to use example. The thing is that i do not think that it is broken becuase i think that you hade defined your fail example wrong.

If the case is that you want to extract the part you have in your partial from the first OK schema, the thing i see in that case is how you define your include.

You currently have the following yaml file in

[2016-11-07 17:53] jdandrea commented on #60
Thank you! Appreciate the update.

[2016-11-18 13:24] roman-89 opened #78 "A sequence of maps in a schema does not check the type in the elements of the sequence"
[code]

 INFO - validation.valid

[2016-11-18 13:41] sbrunner opened #79 "I have a TypeError with the latest version"
I run: `pykwalify -d data.yaml -s schema.yaml`
I get:
[code]

`data.yaml`:
[code]

`schema.yaml`:
[code]

With the version `1.5.1` I get what I expected:
[code]

[2016-11-22 08:02] sbrunner commented on #79
My analysis is that the `_validate_scalar_type` will just add an error (don't stop), than this commit add the issue https://github.com/Grokzen/pykwalify/commit/f6c744fac3ca56455ec1b68ff19828ba13fdfb75

[2016-11-22 08:03] sbrunner commented on #79
For my the `pattern` shouldn't be test if the type is wrong ...

[2016-11-29 22:40] devnoname120 opened #81 "Hexadecimal validation"
Please add the validation of hexadecimal values.

scheme.yml:
[code]

file.yml:
[code]

Version `1.5.1`:
[code]

Version `latest`:
[code]

Expected: No error since the regex matches the hexadecimal.

Related: http://yaml.org/type/int.html

[2016-11-30 07:56] sbrunner commented on #81
Isn't a duplicated of #79

[2016-11-30 11:10] devnoname120 commented on #81
I don't think so, #79 is about not trying to match the regex if the type is incorrect. This issue is about enforcing a number format (hexadecimal).

[2016-12-06 07:30] smalleni opened #82 "Recommedn to fix instead of exception"
Hi,

In my implementation I want to warn the user about a particular empty field instead of throwing an exception. Currently, is this supported?

[2016-12-06 11:56] Grokzen commented on #82
If this would mean that you need some seperate way of validating a field then it is not supported in the regular kwalify schema i think. You have 2 ways of solving this, either you start your own `Core` class and you disable the automatic exception raising via kwargs input to the main validation method and then after validation you have to post  process all exceptions and do what you want. The sec

[2016-12-16 17:44] itdependsnetworks opened #83 "Check key against regex"
Is there a way to have the dict key be dynamic but checked against a regex, and the key/val under the map be checked as well?

I would envision something like:

Schema
[code]

Data
[code]

[2016-12-20 15:08] bernardpletikosa commented on #66
Hey guys!

I have the same problem, any ETA for this one?

[2016-12-20 21:47] Grokzen commented on #79
Closing this one after merged #80. See PR for more details.

[2016-12-20 21:47] #79 closed

[2016-12-20 21:58] Grokzen commented on #83
Hi @itdependsnetworks. This kind of keyword `type: dynamic_map` is not something that is supported or covered in the original kwalify spec so that is why there is not something like this implemented.

The only known way right now is to make a regex check that matches all possible values by specifying `regex_value: ".+"` and that should get you covered in your use case.

I have no intent of impleme

[2016-12-20 21:58] #83 closed

[2016-12-21 01:49] Grokzen commented on #82
@smalleni I am going to close this issue for now. The solution to the problem is mentioned in my previous comment. I still recommend that you create your own `Core` class and handle it that way. If you have any more general questions please ping me on gitter.im instead.

[2016-12-21 01:49] #82 closed

[2016-12-21 02:04] Grokzen commented on #81
@devnoname120 @sbrunner  The issue is now fixed, but not in the exact way that you proposed. The problem here is that when you specify a hexadecimal number but not explicitly cast it to a string, then yaml will interpret that as a interger and you are _not_ able to do regex/pattern validation on a integer number.

The only way that you have to make this work if you _want_ to have a hexadecimal val

[2016-12-21 02:04] #81 closed

[2016-12-21 02:24] Grokzen commented on #78
@roman-89 Fixed in following commit 8d8674a4b00a630d35d6fbd3337fbff8db1bcfb4 and it now outputs a error as expected. Clsoing issue as fixed.

[2016-12-21 02:24] #78 closed

[2016-12-21 02:25] Grokzen commented on #67
@bdunlay It should now be fixed as of this commit 8d8674a4b00a630d35d6fbd3337fbff8db1bcfb4. Closing as fixed based on that commit.

[2016-12-21 02:25] #67 closed

[2016-12-21 02:28] Grokzen commented on #71
@jcfr I will close this issue as resolved based on my previous comment above and the suggested fix there.

If you find any related bugs to partial schemas please open a new issue.

[2016-12-21 02:28] #71 closed

[2016-12-21 02:33] Grokzen commented on #70
@mrproper I will close this issue as _invalid_ becuase i see no way that i will be able to support this feature. As mentioned above this is a issue in pyyaml or ruamel yaml and it is not something that easily supported.

I do not really know how kwalify does this but if i would guess (without looking in the source code) i would guess that they might do a textual processing of the yaml files but th

[2016-12-21 02:33] #70 closed

[2016-12-21 02:36] mrproper commented on #70
No worries @Grokzen, i included it because users/developers etc writing yaml have more than once on occasion added duplicate keys to a dict =), thanks for the communications though!

[2016-12-21 02:45] Grokzen commented on #63
@kesre This fix for this was commited in this commit 8fa18e3add993db1c821c76d01fa60a93e358e1c and it fixed the problem. The correct way to deal with this was to move the type checking earlier in the mapping validation so that even if you do not speciefy the mapping keyword and the value type is wrong you should get a error that the value type is bad.

Just to clearify that the keyword `allowempty`

[2016-12-21 02:45] #63 closed

[2016-12-21 02:46] bdunlay commented on #67
Thanks @Grokzen

[2016-12-21 03:15] Grokzen commented on #62
Hi @grovduck. This feature is implemented in this commit 94f326cadfaa4301951ee2a9b6d830f1a6bf4948. I created a success and a fail test case to show that it should work and i did not have to change any existing tests to make it compatible and that is a good sign it will work well. Please play around with it and if you find any issues with the implementation please open a new issue.

Closing this is

[2016-12-21 03:15] #62 closed

[2016-12-21 03:33] Grokzen commented on #54
@smalleni Your specific usecase and schema you posted is now fixed as of this commit cd012c9e3d205dc2100b8bcc3dd437e0e8ebea73 and you can see your data/schema was used and it now validated properly as expected.

@smalleni @jmtd I would _NOT_ recommend to use the `map:` keyword for now becuase it is still buggy with the first example you provided @jmtd

[code]

I will keep investigating why `seq` &

[2016-12-21 03:35] itdependsnetworks commented on #83
@Grokzen thanks for the update. Could provide an example of using `regex_value:` I did a quick search of this repo and github in general and didn't come up with much.

[2016-12-21 03:39] Grokzen commented on #61
@cloudtoad Before i take a stab at this, i would like to have a small explanation whenever this feature is usefull. I do not see a good real world case where this would make sense to have. Do you have any real world schema/data files where you want to use this feature? I am on the fence of implementing this feature, please convince me :)

[2016-12-21 03:42] Grokzen commented on #83
@itdependsnetworks I would think it you can use
[code]

However i would suggest that you take a look at this feature instead as it might be something more in line with what you are looking for 94f326cadfaa4301951ee2a9b6d830f1a6bf4948

The feature there implements something that was in the original kwalify where you can specify a default key for a mapping that all keys that do not match will use if

[2016-12-21 04:07] Grokzen commented on #66
@bernardpletikosa No update on this issue. It might take much more time to implement a fix for this becuase the problem is kinda deep down in how the partial schemas works and it might require much more work to sort this problem out.

[2016-12-21 04:09] Grokzen commented on #66
@bdunlay One solution that comes into mind that might solve this problem is that whenever a include directive is specefied it just copies all the keys that is defined in the same level as the include statement and injected into the sub-rule object that is the partial schema becuase then it will be as if the value is already inside the schema as you showed in the last example that validated OK when

[2016-12-21 04:33] Grokzen commented on #35
Hi @jdandrea. I am going to close down this issue becuase i do not think that anything will come out from it as it stands currently. I have no plans of adding in some kind of if/elif/else code into the schema directly becuase that will just make the language diverge far away from the original kwalify.

My second argument is that really can do all of this conditional validation inside a custom exte

[2016-12-21 04:33] #35 closed

[2016-12-21 04:40] Grokzen commented on #54
@jmtd A comment after some thinking regarding the problems with `seq:` and `- map:` is that it is currently not possible to have `allowempty: True` in the way i showed in the last comment becuase the reason that keyword/shortcut was implemented was to make it easier to write instead of having to specify `type: map` & `mapping: {...}` so it would be easier to write and understand what you wanted. T

[2016-12-21 04:40] #54 closed

[2016-12-21 04:42] Grokzen commented on #35
Multiple validation paths for mapping is already tracked in issue #45

[2016-12-21 04:49] itdependsnetworks commented on #83
Awesome, I followed that commit back to the issue and found the doc that stated " It is useful when key names are unknown" which is exactly what I wanted. Thanks!

[2016-12-21 04:54] Grokzen commented on #29
@flyx @nowox I think i will postpone implementing this feature for now.

@flyx I agree with you that taking this over to the PyYaml/ruamel.yaml or even the YAML org itself is not the best idea.This validation language is not the "one and only and best yaml validation language" and i do not intend or have any motivation to bring it to that level.

Another thing that has been bothering me about this

[2016-12-21 13:43] JoostJM opened #84 "pykwalify breaks output in jupyter notebook (python 2.7)"
During `__init__`, pykwalify reloads sys module, which resets the stdout to the console.
This causes all output to be printed to the console instead of the jupyter notebook.
It is caused by the change in [this commit](https://github.com/Grokzen/pykwalify/commit/0cc7e21982db1a981e4dc5f79c24ab69b387a134).

Moreover, in this [discussion](https://github.com/ipython/ipython/issues/8354), using reload(s

[2016-12-21 13:53] Grokzen commented on #84
@JoostJM The mentioned link do not make any suggestion for a solution other then to force the user to to set `PYTHONIOENCODING=UTF-8` in the cases where that is not already defined. What is your other suggestions regarding solving this?

[2016-12-21 13:59] devnoname120 commented on #81
@Grokzen Thank you for you changes. How can I cast the hexadecimal value to a string?

[2016-12-21 14:11] JoostJM commented on #84
The reason you'd have to reload sys to get at `setdefaultencoding` is for a reason, and that is that setting it to utf-8 can actually break a lot of stuff in python 2.7. See also [here](https://anonbadger.wordpress.com/2015/06/16/why-sys-setdefaultencoding-will-break-code/) and [here](http://stackoverflow.com/questions/3828723/why-should-we-not-use-sys-setdefaultencodingutf-8-in-a-py-script). My s

[2016-12-21 15:31] jdandrea commented on #35
Hi! I think the case for a custom extension/function makes good sense and prevents things from diverging too far afield. Thanks for the update!

[2016-12-21 17:08] Grokzen commented on #84
@JoostJM Haha, all over the place there is problems with unicode. It was kinda easy to handle all the error strings and output to be unicode compatible becuase i can simply cast the values my self in the code and it just works. The main problem is that all schemas and data is user provided and mainly through files and when both `pyyaml` and `ruamel.yaml` loads the files and builds the data structu

[2016-12-21 17:09] Grokzen commented on #35
@jdandrea If you dig into extensions more, please just open up a issue if you find anything not working or if there is a need for any other data to be provided into the functions that would help towards solving this problem.

[2016-12-21 17:13] Grokzen commented on #81
@devnoname120 The only supported way right now is to have the value to be explicitly casted to a string by doing the following

file.yaml
[code]

and pattern matching will be supported and should work out of the box.

There is no way or solution for testing out the datatypes and to try to convert them into any supported datatype so that a regex matching can work.

I can however kinda see that this

[2016-12-21 17:14] Grokzen commented on #70
@mrproper Ye i can understand why this would be a issue if you yourself have no control over the supplied data.

[2016-12-21 17:29] devnoname120 commented on #81
My use case is to enforce the usage of numbers in base 16 (rather than base 10) for certain fields. I wanted to use pykwalify in order to make sure that pull requests conform to our standards.

We don't use strings in place of numbers because it makes the parsing more difficult, not really in Python but in other languages where juggling between data types isn't as convenient.

That could work, doe

[2016-12-21 17:35] Grokzen commented on #81
The solution would not be to handle the conversion inside the YAML lib but when the pattern matching is done in the pykwalify code. First try the existing value and see if it works, if not and in the case this new keyword would be used it could try to cast the value to whatever value.

It might however be a problem becuase if pyyaml loads the value and explicitly converts it from hex to int then t

[2016-12-22 00:23] devnoname120 commented on #81
PyYAML seems to make it possible to add custom resolvers and representers: http://pyyaml.org/wiki/PyYAMLDocumentation#Constructorsrepresentersresolvers
I don't see a good way to do it though.

[2016-12-22 14:11] Grokzen commented on #66
@bdunlay The problem appear to be much deeper down then i expected and it seems like that the include statement is never processed in the schema you propsed above so that explains why it validates when it should throw error. I have to dig deeper to understand why the rule object do not have this keyword in it and processes it. It seems like the code takes another path through the validation proces

[2016-12-22 22:15] Grokzen commented on #84
@JoostJM Please test this commit 68f55f92d1f7a4ca4c9ccc68041926687063a7ab and see if it still breaks jupyter notebooks or not. After looking into the code i think that most of the problems is fixed already where prints and log messages did not cast to unicode properly before. I also documented the known solution of setting a env variable into the execution. If it still outputs errors after this ch

[2016-12-23 09:32] JoostJM commented on #84
@Grokzen Thanks! I tested using your branch 'unstable', and it worked, jupyter notebooks don't break anymore.

[2016-12-23 16:49] Grokzen commented on #84
@JoostJM Thanks for testing it. If you find any other issues reagrding utf-8 or ecnoding please open up a new issue.

Closing as fixed/resolved

[2016-12-23 16:49] #84 closed

[2017-01-06 02:05] Grokzen commented on #61
@cloudtoad Pushing this one into the future and release 1.7.0 becuase i have some new ideas on how to implement regex schema syntax that will require some restructuring but it could open up for implmenting this. I do not want to add this tot he next release becuase that one is due to be released very shortly.

[2017-01-06 03:58] Grokzen commented on #66
@bdunlay @bernardpletikosa Here is a first attempt to fix the problem https://github.com/Grokzen/pykwalify/compare/feature/fix-broken-include?expand=1 I put it in a branch for now because i think there is more fixes that needs to be included but at least the original test case you provided with include block in key `/A/a` now raises validation errors.

However a downside with this impl for now is

[2017-01-09 18:34] grovduck commented on #62
Hi @Grokzen, sorry for the late response.  Thanks so much for providing this features.  Tested and confirmed it's now validating correctly against my schema file

[2017-01-10 01:04] Grokzen commented on #62
@grovduck thanks for confirming.

[2017-01-10 10:48] jmtd commented on #54
I think I understand, thank you.

[2017-01-11 14:06] gijzelaerr opened #87 "Did not find method in loaded extension"
hi!

If i manually specify a extension file to the Core() class it somehow doesn't load correctly.

I've setup a github project to illustrate the problem: https://github.com/gijzelaerr/pykwalifybug

When i run `validator.py` i get the error:
`pykwalify.errors.CoreError: <CoreError: error code 3: Did not find method 'ext_str' in any loaded extension file: Path: '/'>`

while the exention *Is* loaded

[2017-01-11 15:33] Grokzen commented on #87
@gijzelaerr Can you try to use the latest commit in unstable branch? I do think that there was some fixes commited into there that fixed some issue with extensions.

[2017-01-11 16:03] Grokzen commented on #87
I am refering to this line in the releasenotes
[code]

[2017-01-12 07:23] gijzelaerr commented on #87
I tried https://github.com/Grokzen/pykwalify/commit/031b438c4fe2070a803c002e3876961232e7346a and that seems to work correctly, thanks.

[2017-01-12 07:23] #87 closed

[2017-01-22 20:27] Grokzen commented on #66
@bdunlay This should be fixed in next release as i merged #85. It feels more stable now and works in the cases you posted above. If you find more corner cases and problems please open up a new issue and i will take a look at it.

[2017-01-22 20:27] #66 closed

[2017-01-22 20:27] Grokzen commented on #66
Closed as fixed.

[2017-02-01 12:21] alissonmarcelo opened #88 "Include of partial schemas two times in the same level is not working after fix of issue #66"
A schema containing inclusion of partial schema two times at same level stop working when upgrade from 1.5.2 version to 1.6.0. This problem seems to be related to fix of issue #66 and also occurs when use partial schema inside of maps.

### Data

[code]

### Full Schema

[code]
### Expected Output (1.5.2 version)

[code]

### Received Output (1.6.0 version)

[code]

[2017-02-01 12:27] alissonmarcelo commented on #88
I have executed the same test turning debug mode on:

[code]

[2017-02-16 17:08] udeved opened #89 "file extension of data input yaml"
Hi,

as opposed to ruby version of kwalify, pykwalify unfortunately does not take for example a data.conf in yaml format.

I can validate a data.conf against a data.schema.yaml in ruby, but in python version, I would need to change file extension to make it work.
Could this be enhanced to accept other than strict *.yaml extension?

[2017-02-16 19:50] Grokzen commented on #89
@udeved Is it throign hard error when not using .yaml extension or is it becuase it do not understands the data inside the file? If indeed this feature works in kwalify then it is a candidate for implementing even tho if i do not like the idea that much. But if this version should be a superset of kwalify then i guess in it will go.

Is .conf the only other supported file extension or is there no

[2017-02-16 20:22] udeved commented on #89
The data yaml is valid, the schema yaml exists for the data yaml.
To explain, I use currently ruby version to validate calamares data.conf against its data.schema.yaml.
The calamares installer uses yaml with *.conf file extension.

https://github.com/calamares/calamares-tools

[2017-02-19 00:54] udeved commented on #89
There doesn't seem to be validation on file extension.

I tested by renaming data.conf to data.ini

[code]

[2017-02-19 12:00] FlyingPengu opened #90 "Using pipeline cause Exception: 'tuple' object has no attribute 'position'"
Hello,
I'm trying the pipelining and using following code:
`rc = StrictRedisCluster(startup_nodes=startup_nodes, decode_responses=True, max_connections=36)
p1 = rc.pipeline()
p1.command_stack.append((["DEL", "abc:" + str(id)], {}))
p1.command_stack.append((["SREM", "abc", str(id)], {}))
p1.execute()`
and always getting an exception:
`Exception: 'tuple' object has no attribute 'position'`
What I'm

[2017-02-19 12:04] #90 closed

[2017-02-19 12:04] Grokzen commented on #90
@FlyingPengu I think you posted this in the wrong project. This is pykwalify and not redis-py-clsuter :)

[2017-02-28 10:10] pettermahlen opened #91 "Clarify schema errors"
I'm trying to use pykwalify, and I keep getting confused by the error messages. One example is this:

[code]

I had no idea where to look for the problem. Eventually, I realised the problem was that the schema definition looked like this:

[code]

To understand that, I had to modify the rule.py file and print out the 'v' value. It would have been easier if the error message specified that the prob

[2017-02-28 13:28] Grokzen commented on #91
@pettermahlen The problem is that when you do a sequence you should use a list and not a dict as value for the `sequence` key.

See the following example from https://github.com/Grokzen/pykwalify/blob/unstable/docs/basics.rst

[code]

I have had in mind to rework all errors to be the same way that kwalify do becuase i am not using the same error output format.

For me the error message is clear wh

[2017-03-01 15:59] Grokzen commented on #91
@pettermahlen There is a number of changes that can be implemented and that has been on the radar for a while for me to implement but i have not had the time to get to it.

The first one that probably would have helped you the most is that in the original kwalify there was a mechanism to do a schema meta validation before you ran the data validation. This would have caught your problem and said th

[2017-03-03 09:50] pettermahlen commented on #88
I'm getting the same problem just by including a partial schema with a map that has other things at the same level:

[code]

[2017-03-11 18:12] acerv opened #92 "How to match specific floating values?"
Hi, I need to match specific numeric values. Is it possible to use `pattern:` with numeric values? Something like:

    stop_bits:
      required: true
      type: number
      pattern: [1|1.5|2]

[2017-03-11 19:23] Grokzen commented on #92
@acerv You should be able to use the `enum` keyword for validating against known values.

https://github.com/Grokzen/pykwalify/blob/unstable/docs/validation-rules.rst#enum

[code]

[2017-03-12 16:24] acerv commented on #92
@Grokzen that definition causes the following error:

[code]

[2017-03-12 16:29] acerv commented on #92
Maybe I found the problem. Defining type as float, permits to use enum in the following way:
[code]

[2017-03-13 10:23] Grokzen commented on #92
@acerv Interesting that it caused that exception if you are missing the type variable. That is a exception that should not be there. It should output a more pretty type error if that is missing or the default type is not working properly.

What version of pykwalify are you using? Could you perhaps test the latest release if you are not running it? I know that in some of the latest releases there w

[2017-03-13 10:39] acerv commented on #92
pykwalify version I'm using is 1.6.0

[2017-03-22 12:46] slash5k1 opened #93 "Unable to have multiple mappings at the root level of the yaml path"
very cool project however I have found that I can't validate a schema that has multiple mappings at the root level of the yaml path.

example yaml:

[code]

example schema

[code]

Error:
[code]

[2017-03-23 21:01] Grokzen commented on #93
@slash5k1 The simple answer is that it is not possible to define multiple schema files in the same schema file. If you simply remove the second
[code]
your schema should work as expected.

It is not a bug in any way and it is intended to work this way because that was the way that the original `kwalify` lib works.

[2017-03-23 21:01] #93 closed

[2017-03-23 21:22] slash5k1 commented on #93
Hi @Grokzen I misunderstood how to use the syntax then. I changed the schema to:

[code]

and everything passes. - Thankyou.

What would be nice is to have some "real world examples" of basic and complex yaml / schema's so that the average punter like me knows how to use the code.

Thank you for the response and thank you for the port! You can tell that lots of effort went in to this :)

[2017-03-23 21:31] Grokzen commented on #93
You can find alot of examples inside the test files here

https://github.com/Grokzen/pykwalify/tree/unstable/tests/files/success
https://github.com/Grokzen/pykwalify/tree/unstable/tests/files/fail
https://github.com/Grokzen/pykwalify/tree/unstable/tests/files/partial_schemas

and ofc in the docs. I have tried to include documents that people have used to report bugs to me and then i can use them i

[2017-03-23 22:16] slash5k1 commented on #93
I had a feeling you might reply with the links to your test cases :)

Those were handy when I initially found your project but as I said it would be worthwhile for the average punter that doesn't know your code base and is unfamiliar with the original kwalify library, etc to see some real world examples that contain a full schema.

Hopefully if someone who doesn't understand the library does what

[2017-04-05 22:04] MasterEric opened #94 "Core should take file-like objects instead of file names"
In my experimentation with this library, I have found it frustrating that, if I have a [file-like object](http://stackoverflow.com/questions/1661262/check-if-object-is-file-like-in-python), for example a [StringIO](https://docs.python.org/2/library/stringio.html), I am forced to write the data to a file before validating it.

This does not conform with Python's standard practices, and the fact tha

[2017-04-06 21:47] MasterEric opened #95 "Add verbose argument"
PyKwalify includes several print calls to provide information to the user about the performance or results of validation. However, for many realistic applications, once the library is fully implemented, these print calls can quickly become annoying rather than helpful. I do not want PyKwalify to print `log.info(u"validation.valid")`, when I am handling the result of validation myself.

Add an argu

[2017-04-18 07:16] ccatterina commented on #88
Same problem here including 2 different schema in the same level:
### Schema
[code]

### Error:
[code]
I made some test:
* It works if i copy the content ```common_registers_schema```and  ```common_commands_schema``` in the main schema.
* I get  ```Key 'commands' was not defined.```  if i copy the content of ```common_commands_schema``` and i include ```common_registers_schema```. ( If i test a da

[2017-04-18 08:32] Grokzen commented on #88
@ccatterina Could you please post your entire schema + the includes that you have defined? Also a mininal set of test data that can show the bug so i can run the same tests on my side to help track down the problem?

[2017-04-18 08:50] ccatterina commented on #88
@Grokzen Sure.

* partial_schemas:
[code]

* yaml data to test (1 with **commands** and one without **commands**):
[yamls.zip](https://github.com/Grokzen/pykwalify/files/928020/yamls.zip)

Thank you!

[2017-04-21 09:58] Lesterpig commented on #88
I'm having exactly the same problem as reported by @ccatterina :grimacing:

Do you have any idea / workaround for this issue?
Thanks!

[2017-05-02 09:04] adrianmo commented on #88
Same issue here...

[2017-05-03 16:59] AKorezin opened #97 "Is there any possibility to match map key to str or seq?"
Hello.
I've tried to create a schema to match this:
[code]

But I don't really understand how to do that, because `matching` is only available is `seq` block.
Is my problem related to the issue #45?

[2017-05-22 18:55] teone opened #98 "Import in a python program to use it programmatically"
hi @Grokzen,
thanks the great module.

Is there any way to import it in a python application to use it programmatically?

[2017-05-22 18:56] Grokzen commented on #98
@teone Please see the docs and the section at the bottom of this link https://pykwalify.readthedocs.io/en/master/basics.html#basic-usage

[2017-05-22 18:58] teone commented on #98
@Grokzen thanks for the super-quick answer!

[2017-05-22 18:59] Grokzen commented on #98
:) I was in here lurking around anyway

[2017-05-23 00:17] teone opened #99 "Partial schema issue"
Hello @Grokzen,
using `pykwalify 1.6.0`
I'm trying to add partial schemas, but I'm having issues with it, here is the code to reproduce the error:

[code]

And this is the output:

[code]
Basically it works perfectly if the `partial` is the only key in my schema map,
it fails if I add any other field.

At a first look it seems that `self._validate()` in `core.py` is called only for values defined

[2017-05-23 00:49] #98 closed

[2017-05-23 18:38] jmccaffrey42 commented on #99
I am having the same issue I think, once I add a second key to the schema after the include it fails to validate

[2017-05-23 21:34] jmccaffrey42 commented on #88
I had the same issue so I took a deeper look and I think I found the problem in this commit
https://github.com/Grokzen/pykwalify/commit/f9feb13f9965d7baac7033952d3fc29c421fb532
and made a PR here
https://github.com/Grokzen/pykwalify/pull/100

[2017-06-13 10:21] brownberry commented on #99
I observed the same mis-behavior ... :(

[2017-06-14 08:45] brownberry opened #101 "Regexps for maps"
feature / merge request : make regexp pattern checking available for maps with integer keys ...

modification in core.py
[code]

[2017-06-27 14:23] brownberry commented on #94
Together with the functionality described above, it would be nice if there was a clear way how to re-use the same scheme multiple times to validate data sets against it:

In the moment, it seems that both have to be parsed "together" into a "core object" ```core = Core( scheme_files, data_file )``` which then features the ```core.validate()``` function.

However, it would be more practical the sta

[2017-07-21 09:39] ccatterina opened #103 "Use yaml.safe_load instead yaml.load"
With the latest version of ruamel.yaml i receive this warning:
[code]

[2017-07-21 09:56] rememberberry commented on #99
I second this problem. Will there be a release anytime soon with this fix?

[2017-07-31 22:19] aerostitch commented on #88
Facing the same problem. Reverted to 1.5.2 fixes my problems.

[2017-08-18 22:59] martingkelly commented on #101
Hi! I was just about to submit the same pull request, as I'm hitting the same issue as you. I think this would be an improvement. But, I realized that there is a larger issue here: kwalify seems like it can handle only string map keys, while YAML allows for any map keys. This is particularly problematic because YAML will automatically guess type, so if you ever accidentally type a key that looks l

[2017-08-18 23:12] martingkelly commented on #101
OK, looks like you can do this via a custom python extension. If you do `func: validate_map_keys` and define `def validate_map_keys()` as an extension, then you can check everything to your heart's content. That said, native support for this in the syntax without writing code would still be super handy, and the ability to apply regexes would also be handy.

[2017-09-15 10:32] IoanaIvanova opened #109 "Type map does not allow empty property"
Hello,

I’m trying to create a schema to validate  a property that can have nested properties (aws or openstack) and every of this nested properties can be either empty, described with ~ or can have  one or two nested properties – enabled and value.  I think that the problem is that type: map does not allow empty property.

Example 1:
[code]

Example2:
[code]

Example  3:
[code]

This is the schem

[2017-09-15 10:48] Grokzen commented on #109
Can you put your examples in a code block with correct indent so i can try them out for my self?

[2017-09-15 11:29] IoanaIvanova commented on #109
Sorry I did not notice that they weren't formated properly. I edit the comment above .

[2017-09-15 22:24] grovduck opened #110 "possible to have an enum of partial schemas?"
Given the following data:
[code]
is it possible to have a schema that supports an enumeration of partial schemas?
[code]
I may be pushing the validation here, but it would be a really cool feature to have, e.g. if each of the sequence items is a different processing instruction that relies on specific arguments.

[2017-09-21 11:32] beauchar opened #111 "Problem with unexpected bool loading with unquoted yes/no"
Just started to try and do some simple validation with pykwalify but am running into unexpected problems with unquoted yes/no being loaded as booleans.

I installed with pip install 'pykwalify[ruamel]' as I wanted the 1.2 yaml spec where yes and no would not be loaded as True/False.  It does looks from my output that I am using ruamel to load the yaml files...I've tried explicitly setting the YAML

[2017-09-29 08:11] sdruskat opened #112 "Implement any.of"
Rx knows [`any.of`](http://rx.codesimply.com/coretype/any.html) for subschemas, and [feature request #10 on the Kwalify sourceforge](https://sourceforge.net/p/kwalify/feature-requests/10/) suggests an implementation.

This would be a great feature to have for cases where, e.g., a data set will have a *type*, and this type only allows for a certain subset of keys to be used.

[code]

In this (argua

[2017-10-03 13:35] AirisX opened #113 "Enum with type "text""
An error occurs when using an enumeration with the type "text".

[2017-10-10 12:24] asafshen opened #114 "validate all map values"
Can someone have an idea how can I validate all map's values (regardless the map keys)?
For example:
[code]

I would like to validate all keys with the same partial schema:
[code]

Is that possible?
Thanks

[2017-10-10 14:13] asafshen commented on #114
Find an answer..

It can be done with `regexp;(..)` & `matching-rule` properties

[code]

[2017-10-10 14:13] #114 closed

[2017-11-03 09:21] bfabio opened #115 "Support ruamel.yaml >= 0.12.0"
pykwalify declares compatibility with ruamel.yaml < 0.12.0 (https://github.com/Grokzen/pykwalify/blame/unstable/setup.py#L25) but works just fine with the latest version (0.15.34)

It would be nice to support the latest ruamel.yaml's goodies.

[2017-12-03 16:32] Grokzen commented on #113
@AirisX Provide a example of your schema and data and the error that it returns or i can't duplicate your exact error and try to help you with it.

[2017-12-03 16:38] Grokzen commented on #111
@beauchar If you can make a example file that you load with ruamel.yaml outside of pykwalify then this kind of error do not belong here as pykwalify is not the problem but ruamel is. In that case i would suggest that you close this ticket and open up a new one over at ruamel.yaml bitbucket repo instead with your problem. If you however can show that pykwalify is the source of the problem and that

[2017-12-03 16:40] Grokzen commented on #110
I will have to say no to this feature. My reasoning is that the include directive should basically just take the partial schema and drop it in the exact same place as the `include` statement is located and build up the validation tree from there. I do not really want to put in some additional special cases that grants some niche feature that only a few people have some strange reason to exists.

[2017-12-03 16:40] #110 closed

[2017-12-04 12:31] AirisX commented on #113
Hi @Grokzen, all artifacts below.

**schema.yml:**
[code]

**data.yml:**
`example: one`

**test.py:**
[code]

**Output:**

In the case of type **str** in the schema, this error does not appear.

[2017-12-04 15:32] xbreak commented on #109
@IoanaIvanova: I had a similar problem and worked around it by specifying an empty map with `{}`:

[code]

[2017-12-14 14:27] beauchar commented on #111
@Grokzen Thanks for the response.

I've had another look and can't get ruamel.yaml examples to run stand-alone which may well be the problem I am seeing.

This looked a promising way to solve an issue for me.  Sadly I don't have the cycles to track things down right now.

Closing the issue for now.

[2017-12-14 14:27] #111 closed

[2017-12-15 21:06] garrettheel opened #120 "Support opening files with alternate encoding"
The behavior changed in python3 such that `open(path) as f: yaml.load(f)` doesn't work for utf-8 encoded files. Would it be possible to add an option to specify an alternate encoding which is given to the `open` call?

[2017-12-18 10:03] sdruskat commented on #89
A fix has been implemented in https://github.com/Grokzen/pykwalify/pull/119 and works in the http://github.com/sdruskat/pykwalifire fork 1.7.0.

[2018-02-06 15:03] Grokzen commented on #115
Added support for this in the following commit: 977b126311de5c75068e7f19b66ea5b9c0884161

closing issue and will be part of next release

[2018-02-06 15:03] #115 closed

[2018-02-06 19:27] Grokzen commented on #103
Code merged in #105

Closing as fixed/implemented

[2018-02-06 19:27] #103 closed

[2018-02-06 19:49] Grokzen commented on #95
@MasterEric There is currently 0 prints after the last commits i have pushed up and with that there should be no accidental prints that should be outputed for a run.

How logging works in python is that you should implement your own logging config when using this code as a library and not from cli. You define in your loggin config what and how the logging from pykwalify should behave. How logging

[2018-02-06 19:49] #95 closed

[2018-02-06 19:55] Grokzen commented on #94
@brownberry I have not yet analyzed how much this would change in the code but it feels like that would require some major rework of the code and i am not ready to commit to that one yet. If you want to probe the idea to see what would be required for this to work i would love to see some WIP MR that shows the scope/size of that kind of feature.

[2018-03-03 19:46] pratikjoy7 opened #123 "Getting `AttributeError: 'str' object has no attribute 'get'`"
The structure of my yaml data is like this -
[code]

The schema I wrote is this -
[code]

Where am I making the mistake here? Thanks in advance.

[2018-03-06 13:59] Grokzen commented on #123
@pratikjoy7 First you have wrong schema defenitions that is not valid. I think i cleaned it up for you to the following schema

[code]

That passed for me on my dev env at least.

The second problem is that your schema will never be able to validate your data as it stands right now. In your first level of mapping you define `item` in your schema. This name must be a exact match to the key in your

[2018-03-06 13:59] #123 closed

[2018-03-06 14:10] #113 closed

[2018-03-06 14:15] Grokzen commented on #112
@sdruskat I do see the potential of this but i am afraid it will be a major feature and not sure when i can put the time in to finish developing it tho. I probably want it in, but can't make any promises on when.

[2018-03-06 14:17] Grokzen commented on #109
@IoanaIvanova For now the response that @xbreak provided is the proper way to deal with this corner-case. You need to define a empty dict in order to make it work. If you are really lucky then you might be able to use the new nullable argument to get around this, but i am not sure if that was built for this kind of case. Please try.

Closing this issue.

[2018-03-06 14:17] #109 closed

[2018-03-06 14:28] Grokzen commented on #101
@brownberry @martingkelly I have to think about this because casting values to str to enable regex checks for other types feels weird in the kwalify context. To regex check a value feels like you are doing it wrong in some way.

On the idea to reworking the map keys to first-class citizens feels like a major project to work on and it would uproot a lot of stuff in the code-base. In theory sure, it

[2018-03-06 14:29] Grokzen commented on #99
The fix that @brownberry mentioned is in the unstable branch now and should possibly fix this issue.

[2018-03-06 14:31] Grokzen commented on #97
@AKorezin Unless you can post the schema that you are working on, I will not be able to help you with fixing this problem. I think i know what your problem is, but i need to see what you have produced yourself.

[2018-03-06 14:33] Grokzen commented on #92
@acerv This problem should now be fixed in the unstable branch. A fix was added for that exception and it should probably fix the problem for you. Please retry your data/schema with the latest code and report back.

[2018-03-06 14:37] Grokzen commented on #88
The code that has been referenced that should fix the problem has been merged into the unstable branch and i have tested the original schema posted in the original message and it now validated properly.

I will close this one as fixed and resolved in next release.

[2018-03-06 14:37] #88 closed

[2018-03-06 19:34] AKorezin commented on #97
Schema
[code]

validates
[code]

Schema
[code]

validates
[code]

How to validate this?
[code]

[2018-03-06 22:18] Grokzen commented on #97
Okey i think i see what the problem is.

The feature you are talking about `matching-rule` only works for sequences where you can define multiple paths for a sequence so that you can validate different objects that is inside the list item. The problem is that this feature do not work for map:s because it was not part of the original kwalify schema spec that one value in a map should be possible to

[2018-03-07 11:15] sdruskat commented on #112
I'd like to help if I can, but - same as you - I can't say when I'd have the time right now.

[2018-03-14 14:49] tmbo opened #124 "Latest release 1.6.1 breaks compatibility with 1.6.0 when parsing python/str"
Latest release 1.6.1 breaks compatibility with 1.6.0 when parsing python/str.

Example schema (`schema_file.yml`):
[code]

source file (`source.yml`):
[code]

Code:
[code]

works just fine in 1.6.0 but is broken in 1.6.1 (python 2.7). Exception:
[code]

[2018-03-14 15:12] Grokzen commented on #124
Thanks for the report, will try to reproduce. What version of ruamel.yaml are you using?

[2018-03-14 15:17] Grokzen commented on #124
The only change i know that i have done realted to this is the following change in my setup.py
[code]
So my guess is that you are getting a newer version of ruamel.yaml lib that possibly has a problem. If you can verify then i would suggest that you search in ruamel.yaml what they have changed between the 2 versions.

[2018-03-14 16:04] tmbo commented on #124
Not sure, but also might be related of your change to use `load_safe` instead of `load`

[2018-03-14 16:11] tmbo commented on #124
I just double checked, everything is the same, including `ruamel.yaml==0.15.35`. So the only package that I changed in my local test just now is this one.

I've added a source file to the above as well as I noticed you can't create the `Core` instance without one.

[2018-03-15 07:52] Grokzen commented on #124
Interesting.. I probably have to do additional refactoring of the yaml client to provide user support for this type of use-case.I guess i also have to consider the case where the end-user either want tot send in their own yaml parser instance, or be able to modify the supported tags. By default the basic python tags could be added, but i think i need this extend ability also.

[2018-04-02 22:41] StephenEhmann commented on #97
I was about to report a new issue but found this first.  I did the "hack" that you did and here are the results:
schema -->
matching-rule: 'any'
map:
  regex;(layout):
    type: str
    enum: ['nn', 'nt', 'tn', 'tt']
  regex;(layout):
    seq:
      - type: str
        enum: ['nn', 'nt', 'tn', 'tt']
data passing validation -->
layout:
  - tt
  - tn
data not passing validation -->
layout: nt

When

[2018-04-02 23:03] StephenEhmann commented on #97
@AKorezin this does what you want:
[code]

@Grokzen sequences have any_of already implemented, it shouldn't be too hard to extend this to a any_of primitive like this:
[code]

[2018-04-06 16:02] StephenEhmann opened #125 "seq matching any is over-reporting"
schema:
[code]
data that passes validation:
[code]
data that fails validation (only remove the required "name" field):
[code]
I get this error report:
 --- All found errors ---
["Cannot find required key 'name'. Path: '/0'", "Cannot find required key 'name'. Path: '/0'", "Cannot find required key 'enum'. Path: '/0'", "Key 'min' was not defined. Path: '/0'", "Key 'max' was not defined. Path: '/0'",

[2018-04-27 11:17] ryankempster opened #126 "Name of list in validation?"
If I have:
[code]

as a list, I can create a schema to validate this (below)
[code]

However, I'm going to want to validate a document with lots of lists. If I give a name to the list, (e.g. below this text), I can't work out how to add this to the schema. If I try adding 'sequence_name:' above the validation previously shown, I get an error about sequence_name being an unknown key.

[code]

[2018-04-27 11:52] Grokzen commented on #126
You should only have to add a mapping level to your to level schema. Something like

[code]

The problem with this is that you will have redundant schema where you have to repeat the validation code for each sequence. In this case i would look into a partial schema that defined the content inside your sequence_name and just link that into all cases/locations you need validation on.

You should end

[2018-04-27 11:52] #126 closed

[2018-04-27 12:46] ryankempster commented on #126
type: map
mapping:
  sequence_name:
    type: seq
    sequence:
      - type: map
        mapping:
        a:
          type: str
        b:
          type: str
  sequence_name_2:
    type: seq
    sequence:
      - type: map
        mapping:
        a:
          type: str
        b:
          type: str

I've got something similar to this now but I'm being given "Unknown key: a"

[2018-04-27 12:50] Grokzen commented on #126
Check your indent in your schema again. If you copy/pasted it it looks like a/b variable is on the same level as `mapping`

[2018-04-27 12:51] ryankempster commented on #126
Ahh that would be it, I think the indentation was a bit messed up on the code you pasted too. Thanks!

[2018-04-30 11:12] ryankempster opened #127 "Pattern matching IP address"
I'm trying to pattern match an IP address, example 11.11.11.11/32

using the following regex pattern: ((?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(?:(?<!\.)\b|\.)){4}\/\d{1,2}

My issue is that an IP address does not seem to fall under any of the data types (such as str, number), and if type:any is used then the value will be allowed even if it doesn't follow the regular expression.

Is there somethi

[2018-04-30 12:10] Grokzen commented on #127
Unless your custom object do not work with the following line https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L664 then no, it will not work. This lib was designed to work with basic data types, not advance classes or custom objects.

[2018-04-30 13:10] ryankempster commented on #127
My issue is that if I do
`ipAddress:
            sequence:
              - type: x
                pattern: ((?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(?:(?<!\.)\b|\.)){4}\/\d{1,2}`

If type is str, it says that ipAddress isn't a str. If it's any, it'll match regardless of whether pattern matches or not. Why does 00.00.00.00/32 not count as a string?

[2018-04-30 13:14] Grokzen commented on #127
Look more closley at the data that you are validating. Is the piece of data that you are validating a string object or have you inputed some other type of data that you are trying to validate?

Basically if you run `type(value_to_validate)` do it return `str` or some other type of object?

Please post your entire schema and data that you want to validate properly yaml formated so i can test it on

[2018-04-30 13:35] Grokzen commented on #127
No it validated properly. I added some additional debug logging and got out
[code]

You can also validate this by setting a IP of 999 and it fails to validate.

[2018-04-30 13:35] #127 closed

[2018-04-30 13:38] ryankempster commented on #127
Ah apologies, you're correct. I had tried testing the regex by adding text to the end and for some reason that works (so it's an issue with my regex). I had tried 0.0.0.0/32dkjfhsdkjh and it passed.

[2018-05-01 12:48] ryankempster opened #128 "Wildcard names for partial schemas in a map?"
Is it possible to have a map containing partial schemas where the names are not defined but replaced by wildcards?

I currently have:

[code]

However if I wanted to add a new type of instance on my data file, I would have to add this name to the map in the schema. Is there any way of using a wildcard instead of Main/Secondary so that it will force any children of 'instances' to follow the instanc

[2018-05-01 12:53] Grokzen commented on #128
There is 2 ways.

1. Use a regex that matches all entities except the values you define
2. Use the `mapping-default` option that you can see a example of here https://github.com/Grokzen/pykwalify/blob/master/tests/files/success/test_mapping.yaml#L246

[2018-05-01 12:59] ryankempster commented on #128
Sorry, I just looked through the code but I'm struggling to understand how the second way works. What does the = (line 246) do and how would I use that in my example?

[2018-05-01 13:05] Grokzen commented on #128
In the example
[code]
you will first parse the key  `WHT` and that has a defined key in the schema so it will be used as validation rules.

When you get to the second key `OWNERSHIP` it will first look up if that exact key is in the schema, it is not. Then it will look if it matches any regex keys, but there is none. Then as a last resort/default it will look for `=` key and use that validation ru

[2018-05-01 13:11] #128 closed

[2018-05-07 03:31] J20S commented on #125
+1

[2018-05-07 17:50] Grokzen commented on #125
Interesting case indeed. I am not sure if i want to track all suberrors and silence the errors to the path that has the least number of errors.

But what i do think is that the error is that it probably should say the following

[code]

This would indicate what path that created what errors becuase that is what the path key is used for.

[2018-05-22 16:07] smalleni opened #132 "Item in enum is not of correct class type"
Using pykwalify 1.6.1 seeing this error:
RuleError: <RuleError: error code 4: Item: 'linear' in enum is not of correct class type: '<type 'str'>': Path: '/mapping/execution/mapping/progression'>

The schema is here: https://github.com/openstack/shaker/blob/master/shaker/resources/schemas/scenario.yaml

And the YAMl is here: https://github.com/openstack/shaker/blob/master/shaker/scenarios/openstack

[2018-05-22 16:19] Grokzen commented on #132
I tried the linked schema/data combo and i get OK validation. Could it be that you have loaded the data or schema wrong? Could you debug your output with `-vvvvv` and that the data is proper strings.

[2018-05-22 20:58] #132 closed

[2018-06-02 20:35] ioben opened #133 "Using enum with type scalar"
Running into an error where I'd like to use `type: scalar` and `enum: [true, false, recursive]`.  Using version 1.6.1.

Schema:
[code]

Example data:
[code]

Output:
[code]

Just commenting out lines 847-852 in `pykwalify/rule.py` works around the issue.  Can't say I know of a better solution to the problem, would like input there.

[2018-06-02 21:33] Grokzen commented on #133
First off, this is a interesting bug that you found out and that might require some additional checks to avoid it.

But you are still using the rules wrong. In your example, your data section is basically the following json data `{"create": "recursive"}` and that schema you have will not validate against that. What you basically say with your schema is that you should have one top level item of so

[2018-06-07 14:34] smarr commented on #97
Having more direct support for this `any_of` or at least `scalar or map` would be very useful.
I am just adding a schema for a home grown configuration format.
And a frequently recurring pattern is something like this:

[code]

This idiom seems very convenient, but because `any_of` is currently only supported on sequences and not on mappings, it is impossible to express on for more complex example

[2018-06-07 14:44] Grokzen commented on #97
I know i like the idea of `any_of` to be supported on more types. The main issue is that

1. It is not really part of the original kwalify spec so i "should" not implemented it, even if i have implemented other fields so this is kinda mute.
2. One of the more major things i do not like with the progression of features that both i and other have added is that this syntax is moving closer and closer

[2018-06-07 14:47] StephenEhmann commented on #97
Is there a good jsonschema python implementation?

On Thu, Jun 7, 2018 at 10:44 AM, Grokzen <notifications@github.com> wrote:

[2018-06-07 14:49] Grokzen commented on #97
Define "good"? :]

But this one by a quick googling https://pypi.org/project/jsonschema/ should work probably.

Note that the main idea of pykwalify was to provide a moving forward solution to people that was embeded with kwalify from the days of old. It was not a solution/spec to be something better then the other leading validation frameworks, specially jsonschema.

[2018-06-07 14:57] StephenEhmann commented on #97
thanks for the pointer, I was pursuing pykwalify because I thought it was
evolving to be more like json schema and more fully featured. If I missed
it sorry but "main idea of pykwalify" should be clearly stated in the main
description, to prevent future users from unmet expectations

On Thu, Jun 7, 2018 at 10:49 AM, Grokzen <notifications@github.com> wrote:

[2018-06-07 16:37] Grokzen commented on #97
@StephenEhmann Ye i know, i probably will update it to make it more clear what the purpose is and what to expect from me regarding this repo.

[2018-08-02 23:42] yaowuang opened #135 "enum mismatches should report the enumeration options"
If my enum for interfaces are [ SAS6, SAS12 ]

I get an error that shows:
Enum 'SAS' does not exist. Path: '/drive/interface'

Would would be more descriptive if it shows
Enum 'SAS' does not exist. Path: '/drive/interface' Enum: [ 'SAS6', 'SAS12' ]

[2018-08-11 20:53] witten opened #136 ""Good/Evil" clause in license makes it non-free in Debian"
pykwalify is considered non-free by Debian because its license contains the "The Software shall be used for Good, not Evil." clause. See discussion here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=887809

And also this page: https://wiki.debian.org/qa.debian.org/jsonevil

While I'm a big fan of Good (and not a fan of Evil), I'd suggest removing the clause so as to allow unrestricted use of

[2018-08-13 01:29] brendan-da opened #137 "Markdown/Documentation generation out of schema"
Hi, Id like to be able to generate documentation out of a schema,
Say for usage of config yaml for a project.
I've had a look around and cant find anything that resembles this.
I first looked at extensions but i would basically need to re implement the world to achieve this.
Is anyone aware of accomplishing something like this?

[2018-08-13 08:38] Grokzen commented on #137
I do not really get what kind of documentation you want to build from a schema? could you give some practical examples of a input schema and what output you want it to produce?

My general impression is that i do not want this to be a part of this lib and it should be some external extension that you would add to a generation tool like sphinx for example.

[2018-08-13 12:58] brendan-da commented on #137
Basic markdown generation for parameters with their required type. What the
description of the value enum etc. Without the consumer having to
understand the schema format

I have about a dozen schemas with about 50+ parameters. I'd like to use
extensions but I'm not sure how to hook in a global extension at the top
rather than having to override types all the way down.

Your suggestion is the appr

[2018-08-13 13:58] Grokzen commented on #137
When i was talking about extensions i was not talking about pywaklify native extensions, but more a extension to sphinx itself that could parse a schema file.

What i would do is to build a plugin/extension to the doc generator lib that you want to use and then just feed in the schema file you want to render. Then you create a rule object like `root_rule = Rule(schema=self.schema)` and you will ha

[2018-08-15 18:38] varac commented on #136
Yes please, I'd love to have it packaged in the free component of debian.

[2018-09-17 09:28] eirnym opened #138 "Install ruamel by default"
In #59 you used `ruamel` as a default parser if present, and in `setup.py` and `README.md` files you blame that you use `PyYAML` by default.

Could you install `ruamel` by default and add PyYAML as an optional dependency?

[2018-09-17 09:36] rholmboe commented on #138
According to release notes in 1.6, pyyaml is deprecated and will be replaced by ruamel in 1.7. pykwalify is still in 1.6 :)

[2018-09-17 09:50] eirnym commented on #138
I don't see any mentioning of this in README.md, github release notes and release notes on readthedocs site (both stable and unstable links)

[2018-09-17 09:59] rholmboe commented on #138
https://pykwalify.readthedocs.io/en/unstable/release-notes.html#nov-12-2016

1.5.2 release has specified that ruamel will be default in 1.7, but coupld be clarified in readme as well.
Feel free to do a pr. :)

[2018-09-17 10:03] eirnym commented on #138
If PyYAML was deprecated in 1.5.2, why it is still the default in setup and readme?

[2018-09-17 11:01] Grokzen commented on #138
In principal there is a difference between "deprecated" and no longer supported. The idea i had when i put pyyaml as deprectaed in a earlier release was that to have both version supported over some time and/or major releases so that you could more easily do a upgrade from pyyaml to ruamel yaml within one release, but still maintain the support and compatibility with that old lib.

So basically th

[2018-09-17 12:05] eirnym commented on #138
In #58 you did it already up to third point. except the documentation.

Additionally, there's no developer choice which library to use for YAML. Some libraries did it with passing loads and dumps functions as a parameter with some known default. This is an easiest way to have something default and developer may choose something else.

Moreso, you distinguish for some unknown reason YAML and JSON w

[2018-09-17 12:12] eirnym opened #139 "Add ability to use package resources as data source"
Currently `pykwalify` library doesn't provide an easy way to override where resources are located and all named resources must be reachable by `open` function. This disallows a user to open them with custom names or using package resources including API provided by Python 3.7 and backported to earlier versions.

To provide this posibility I suggest:
* add ability to supply `dict` containing some r

[2018-09-17 13:58] Grokzen commented on #138
There has never been a need for the developer to have any capability to choose any other YAML parser becuase there has only in general ever been one to choose from. Pyyaml has for a very long time been the defacto standard yaml parser and using that one has been a good option and solution for 99% of people using this lib. When ruamel entered the scene it changed some things where support for both

[2018-09-17 14:04] Grokzen commented on #139
What API resources provided in python 3.7 are you talking about? I do not know what you mean by that.

How would adding the ability to point a specific open() help? Most times the normal open method is good enough, the issue is more with the arguments to the open function like encoding for example. If i still have to handle the arguments into the method from inside pykwalify, the overriden open fu

[2018-09-17 17:53] eirnym commented on #139
The CLI interface could be the same, I'm talking only about programmable interface as in most cases developers would use your library as a library, not as a tool. One of major usage of it as I see is to check incoming data from a network against defined API schemas.

Python 3.7 added brand new rewrited `importlib.resources` package allowing a developer to access any resource inside packages. There

[2018-09-17 23:31] adamdavis40208 opened #140 "String can't be value in enum?"
I'm trying to validate a string in yml is not a reserved mysql keyword (like 'accessible'. hundreds of strings)

Is this possible in pykwalify?

[2018-09-18 00:12] adamdavis40208 commented on #140
I implemented this with an extension: https://pykwalify.readthedocs.io/en/unstable/extensions.html

👍

[2018-09-18 00:12] #140 closed

[2018-10-01 18:57] mschaef-da opened #141 "Required flag silently not honored when including a partial schema."
This YAML:
[code]

Gives this result:
[code]

When validated against this schema:
[code]

It looks like https://github.com/Grokzen/pykwalify/pull/85 was work on a similar scenario, but it seems like either the required flag at the `include` site should be ignored, or a warning/error should be issued signaling that this is not a valid schema definition.

[2018-10-03 15:55] Grokzen commented on #136
@witten @varac Fix commited in https://github.com/Grokzen/pykwalify/commit/cc4e31b39ff4cce2dfbc662baa6469470dd3c033 and https://github.com/Grokzen/pykwalify/commit/c159fc9b0b2031b8a570f9154abfdf45a31e1226

Release that includes this https://github.com/Grokzen/pykwalify/releases/tag/1.7.0 please use it or any releases done after 1.7.0.

Please push this upstream to debian and update the issue/bug y

[2018-10-03 15:55] #136 closed

[2018-10-03 15:56] witten commented on #136
Awesome, thank you!

[2018-10-04 15:48] Grokzen commented on #141
@mschaef-da What version are you running? The specified YAML data blob fails validation on my end

[code]

Tested with latest git commit.

[2018-10-04 15:51] mschaef-da commented on #141
`$ pykwalify --version
1.6.0`

[2018-10-04 15:53] Grokzen commented on #141
Did you not include the entire datablob that would match against that specified schema?

[2018-10-04 16:30] Grokzen commented on #135
Good suggestion, fixed in bffe78c835e3fcc7717002445e65f3dc3438e793 and will be part of the next release after that.

[2018-10-04 16:30] #135 closed

[2018-10-04 16:42] #125 closed

[2018-10-04 16:43] Grokzen commented on #137
This is probably out of band of this repo as stated in the original issue. This would be a great place for a seperate tool or solution that later might be included into this repo. But I have no plans on working on some built-in documentation solution.

[2018-10-04 16:43] #137 closed

[2018-10-04 16:45] Grokzen commented on #99
This fix is released. Closing issue.

[2018-10-04 16:45] #99 closed

[2018-10-04 16:46] #91 closed

[2018-10-04 17:38] Grokzen commented on #120
Implemented in 7a1e826a4b0178967c3fad07557ab08a6238b4e0 will be part of next release.

[2018-10-04 17:38] #120 closed

[2018-10-04 18:35] Grokzen commented on #138
@eirnym Fixed added to Master branch now to make it default, will be part of the next major release 1.8.0 that will drop pyyaml and make rumael.yaml the default. No ETA when it will be released.

[2018-10-04 18:35] #138 closed

[2018-10-04 18:35] #133 closed

[2018-10-04 18:37] Grokzen commented on #92
Closing as fixed as of 1.6.1 or 1.7.0. Please open new issue if error still persists.

[2018-10-04 18:37] #92 closed

[2018-10-16 21:19] mschaef-da commented on #141
Argh... apologies for the mistake. The data file should read like this:

[code]

I've since also tested against 1.7.0:

[code]

[code]

[2018-10-17 07:47] Grokzen commented on #141
Ye, i start to think that i need to rewrite the rule engine to sort this out, the lazy loading way that i am currently doing is causing more issues then what it is worth. I guess i have to fix the issues with infinite recursion problem some other way and then most of these kinds of issues would be sorted out itself.

[2018-10-31 09:03] Grokzen commented on #141
@mschaef-da Could you try the new branch i made in #143 to see if this solves your issue from your end? It looks promising with the rebuilded include feature, but i need more tests from real-world to verify that it works as i want.

[2018-11-10 16:56] MrQubo opened #144 "Support 'default' rule for sequence and mapping."
Currently 'default' can only be used with scalar types. It should be possible to specify a default value for mappings and sequences too.

See this schema for example:
[code]
With this schema, empty root mapping should be valid and it would default too:
[code]
But if the eggs key is present then both foo and bar must be specified, so this one shouldn't be valid with above schema:
[code]

[2018-11-10 18:29] Grokzen commented on #144
Yes and no. I kinda get the idea, but i do not really like the syntax done like that. The solution should not be to just have a default value but a more flexible system where you can define 1-any number of possible validations for a given key, not just to have one main and one default.

[2018-11-10 19:52] Grokzen commented on #141
@mschaef-da Issue resolved inside branch feature/rebuild-include Closing this as fixed for now.

[2018-11-10 19:52] #141 closed

[2018-11-11 08:09] Grokzen commented on #144
Yes kinda like that. But i have not been implementing that kind of idea or many other ideas that i have since then i would just be reimplementing jsonschema and that is not the point of pykwalify.

[2018-11-16 14:08] johnthagen opened #146 "README is not rendered properly on PyPI"
See: https://pypi.org/project/pykwalify/

According to the packaging guide, it should be possible to create GitHub Flavored Markdown that works on PyPI: https://packaging.python.org/guides/making-a-pypi-friendly-readme/

[2018-12-10 14:29] jdeluyck opened #147 "Handling of yaml references/anchors"
I'm trying to use pykwalify to validate some YAML schemas that users can deliver to me, before processing them.

Creating the pykwalify schema to validate one that contains references is a bit of a pain, though. I have to make sure both the YAML and any references are defined in one document.

Would it be possible to extend the syntax to allow loading of an arbitrary amount of YAML files, which th

[2018-12-10 15:15] jdeluyck opened #148 "Parsing of structure (sequence is not a list, xx is not a map)"
I'm having some issues getting the following yaml structure parsed:

[code]

I've created the following schema:
[code]

but this results in

[code]

Second attempt, remapping to a map:

[code]

Alas:

[code]

so, um, what am I doing wrong?

[2018-12-10 15:23] Grokzen commented on #148
Items inside a sequence must be a list, just like the error message says.

[code]

The second validation error is becuase of your data is wrong formated for that schema.

[code]
You basically have a dict on the root level, with a key `projects` and the value for that key is a list. Your data basically translates to this json representation

[code]

[2018-12-10 15:31] Grokzen commented on #147
Short answer is, No.

But... inside #143 this is kinda implemented where to make the include feature work i concat all sources of schema to fix some issues in the implementation.

But i am not sure about the feature, right now the job of merging and/or preparing the data that you want to validate is up to you, and not to this lib. There is a option to run multiple different data blobs against the

[2018-12-10 16:01] Grokzen commented on #147
Another argument against having data merge inside the lib, is that there is to many ways to deal with the data merge and the entire deep-merge problem. There is to many factors to deal with to make a generic solution or configurable solution to merge multiple data blobs into a single one just the way you and everyone else wants. So pushing the problem up to the user makes it much easier to customi

[2018-12-11 09:12] jdeluyck commented on #147
I'll keep a look out at #143. I understand the reasoning - though it would be practical ;)

[2018-12-11 09:23] jdeluyck opened #149 "Validation against multiple types"
Is there a way to allow matching against any number of types? I have a yaml schema where it's allowed either to supply a number, or a string.

Logically this would result in something like
[code]

[2018-12-11 10:21] Grokzen commented on #149
You can do this when you are validating a list object. It accepts multiple items/paths for validation.

[code]

The original kwalify syntax allowed for only one item in the `sequence` list but it was easily extended to allow for multiple with a few new keywords to controll the requirements flow of how many needed to be allowed for OK validation.

This do not work for a dict. Each key is only allow

[2018-12-11 13:49] jdeluyck commented on #149
I do believe pykwalify has a good reason to exist - if even only the fact that it's a lot easier to define a schema in yaml than it is in json, and that I don't have to first run a conversion (and hope it succeeds) to json before being able to use jsonschema.

[2018-12-11 14:05] Grokzen commented on #149
Yes that is true, but it should be fairly easy to make a wrapper tool that gives the ability to provide a yaml file and the tool converts it to json.

[2019-01-17 09:42] minherz opened #150 "how can i validate YAML and schema that are strings and not files"
Existing examples show the use of package only with files. How it can be used vs. two string variables that contain the YAML and Schema?

[2019-01-17 14:01] Grokzen commented on #150
It is possible to run it with strings by running something like `Core(source_data="<data>", schema_data="<schema>")

https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L34

[2019-01-17 16:00] minherz commented on #150
Thank you

[2019-01-17 16:00] #150 closed

[2019-01-25 17:48] witten commented on #138
A release, even just a point release, would be super nice! PyYaml apparently has a security issue: https://nvd.nist.gov/vuln/detail/CVE-2017-18342

It appears that pykwalify 1.7.0 may not be vulnerable due to its use of `yaml.safe_load()` instead of the unsafe `yaml.load()`. However, the vulnerabilities in PyYaml will likely increase over time since it's not maintained, so it would cut down on unn

[2019-02-11 15:41] cottrell opened #151 "nested dictionaries"
None of the docs include nested dictionaries. The docs are using the variable type as the name of the key so it is impossible to tell what is meant and how to use it in once glance.

Never, ever use names of things that look like types of things a DOC. Use 'My" or "foo" or something to disambiguated and show which parts of the strings are arbitrary and not reserved.

[2019-02-11 16:01] Grokzen commented on #151
@cottrell Can you point me to a place in the docs where you find that it is missing? Also can you provide some example of what exactly you mean with nested dictionaries? Do you mean how to validate several levels of deep dict data? Or do you mean dicts within dicts within dicts on the Schema side?

Can you provide a example where i use "a DOC" wrong in the docs?

[2019-02-13 14:20] cottrell commented on #151
Here: https://pykwalify.readthedocs.io/en/master/

type: seq
sequence:
  - type: str

The names seq vs sequence is a bit confusing to first time reader.

For nested dictionaries (maps) I mean yamls like

top:
  sub:
    a: 1
    b: 2

I eventually figured it out, but just saying that it wasn't just a case of read the doc and understand that it has to be:

map:
  top:
    map:
      sub:
        ma

[2019-02-13 14:38] Grokzen commented on #151
The first page and the example in there is not intended to be a full documentation of all features and all things you should be able to do with all rules that exists. That is why it is labeled as a `Basic usage`.

The aliases map vs mapping is described in the details of the rule here https://pykwalify.readthedocs.io/en/master/validation-rules.html#mapping

The docs recommend that you read through

[2019-02-14 13:19] #151 closed

[2019-02-20 12:07] minherz opened #152 "placing `allowempty` rule in the root `map` fails with error"
When trying to validate a YAML file with the following schema:
[code]
a call to `Core.validate()` fails with `AttributeError: "'bool' object has no attribute 'get'"`.
The goal is to relax the schema by allowing any custom fields beside those being explicitly defined.

[2019-02-26 01:53] rawrgulmuffins opened #153 "yaml.safe_load_all returns a generator which isn't usable by pykwalify.core.Core"
# Error Generated
[code]
# minimum example
## Test File
[code]
## Schema File
[code]

# System Information
[code]
[code]

[2019-02-27 17:32] Grokzen commented on #153
Well technically this is not supposed to be supported since you are supposed to send in a dict or dict like object as the schema object and nothing else. I see that the only validation of the schema that is done is if there is no data loaded and not a validation that the data that is sent in must be of a dict or dict like type.

There is already mechanisms to send in a file path to the `Core` clas

[2019-02-27 22:36] rawrgulmuffins commented on #153
Yeah, I was able to figure that out after looking at the source code. I waffled on if I should have opened this bug or not but ultimately I come down on the side that at a minimum some kind of docs change to show how to do this would be nice.

[2019-07-03 15:12] Black0wL commented on #109
@xbreak @Grokzen I am using pykwalify 1.7.0, and the empty map trick did not work out for me.
Instead, I used the following syntax, which managed to get rid of the "Mapping do not contain any elements" RuleError:

`
infrastructure:
  aws: { None }
  openstack:
    value: some_data
    enabled: true
`

[2019-07-31 22:00] yamokosk opened #154 "Support for custom tags?"
I apologize if I missed this in the docs for kwalify or pykwalify, or if this was already addressed in an earlier issue (I have searched but cannot find anything). I'd like to validate a schema that uses custom tags. Between the pyyaml and pykwalify documentation this is the best I was able to come up with. But its obviously not right. Example:

[code]
Output:
[code]

[2019-08-01 09:33] Grokzen commented on #154
Custom tags is not supported natively and i do not have any immediate plans for supporting them right now.

[2019-10-02 12:16] polyzen opened #156 "TypeError: Unexpected keyword arguments passed to pytest.raises: message"
[code]
https://github.com/Grokzen/pykwalify/blob/55ade285287a05a2cebf8576407654ab2b8fc74c/tests/test_core.py#L339

pytest 5.1.3 (Edit: and 5.2.0)

[2019-10-04 05:30] cxong opened #157 "Add email and url types"
Of course, a workaround would be to simply use `regex`, but these may be more convenient

[2019-10-04 13:38] Grokzen commented on #157
@cxong Against what model would these be validated? is there some general regex that can be used? I do not want to include some pustream dependency if possible that would provide this for me.

[2019-10-06 12:58] cxong commented on #157
sure; a regex will be fine
It's very complex but it should work: https://stackoverflow.com/q/161738/2038264
I note that strictyaml uses a much simpler regex, not sure how well that works

[2019-10-09 21:21] Grokzen commented on #156
Should be fixed now

[2019-10-09 21:44] #156 closed

[2019-10-09 21:45] Grokzen commented on #146
Removed the history file that is likley the culprint for this problem. Next release should have a proper one rendered on pypi

[2019-10-09 21:45] #146 closed

[2019-10-09 22:10] Grokzen commented on #157
#159

[2019-10-09 23:01] polyzen commented on #156
It is. Thank you.

[2019-10-19 18:16] Grokzen commented on #157
#160

[2019-10-19 18:16] #157 closed

[2019-10-19 19:05] Grokzen commented on #154
@yamokosk Can you supply a working script that correctly loads the custom tag you made and where it would build up a data object that acctually work on the python side so i can then implement this in the code base?

[2019-10-19 19:07] #153 closed

[2019-10-19 19:16] Grokzen commented on #152
@minherz Your schema is wrongly made, if i run this instead i get correct and proper validation of code

schema
[code]

data
[code]

This is how it is intended to be used since you are not putting the allowempty rule really at the top of the rule chain, but below inside a key named `map:`

[2019-10-19 19:16] #152 closed

[2019-10-19 20:22] Grokzen commented on #124
@tmbo This commit 68405edd89bcf6ec16c76169884e89662db4fc47 that will be in 1.7.1 will fix this issue. Even a test added for it now so it can be detected again in the future if this feature is changed/dropped again.

[2019-10-19 20:22] #124 closed

[2019-10-19 20:27] #97 closed

[2019-10-19 20:44] minherz commented on #152
does it means it can be used only once for the topmost element? i mean, how do you define that a sub-element should be a map with any schema?

[2019-10-19 20:46] Grokzen commented on #152
No, i think the issue is that you needed to provide a data that you tried to validate that above against. But i dont think that the schema you provided above is really a valid schema kinda.

I think that with your schema you had above, you need to use some other data then a empty top level  dict.

[2019-10-19 21:16] Grokzen commented on #94
@MasterEric @brownberry a1919fa614c637e31d0f9bd4d1bb2e6cb092957e Feature implemented in next major release where you can now accept file like objects, specially designed for StringIO to be used.

The feature you suggested @brownberry you have to open up a new issue feature request for to reimplenet Schema as a object instead of how it is parsed right now.

[2019-10-19 21:16] #94 closed

[2019-10-19 21:18] Grokzen commented on #29
I do not plan to implement any of this. The feature seems to far out to really be usefull right now.

[2019-10-19 21:18] #29 closed

[2019-10-19 21:19] Grokzen commented on #61
@cloudtoad I am closing this one. Please open a new feature request with the new issue templates i have created that will add in all the text/questions i had above that has not been answered.

[2019-10-19 21:19] #61 closed

[2019-10-19 21:20] #101 closed

[2019-10-19 21:21] Grokzen commented on #94
The following example script shows how the new feature will work
[code]

[2019-10-19 21:29] Grokzen commented on #139
I will not implement this feature. I will leave it up to the user of this lib to sort out the fetching and loading of data into the Core class. The Core class now can take so many different types of objects and data when building itself that it should be easy enough to make your own usage of resources when using this in lib mode.

[2019-10-19 21:29] #139 closed

[2019-10-20 07:53] minherz commented on #152
I agree. They property should be in the [same level](https://pykwalify.readthedocs.io/en/unstable/validation-rules.html#allowempty) with type:

[code]

Thank you.

[2019-10-21 16:23] tmbo commented on #124
perfect - will update and unpin the dependency. do you know when you'll tag the 1.7.1 release?

[2019-10-21 16:25] Grokzen commented on #124
@tmbo I will need to see if i need to get in the include argument or not, if not then it should be within this week.

[2019-11-27 15:37] jochman opened #161 "Deprecate imp module"
### Environment
* PyKwalify version: latest
* Python version: 3.7.4

imp function is deprecated. it's an easy fix ->

replace those two lines:
[code]
with
[code]

and
[code]
with
[code]

it's not backward compatible, this will drop pykwalify from py2. as py2 will retire on January 1st, it's about time.

[2019-11-28 08:52] Grokzen commented on #161
I will include this in the 2.0.0 pykwalify release that will drop support for python 2.7.x i will probably make that release somewhere in jan/feb after the py 2.7 is finally EOL

[2019-12-02 14:37] guyazran opened #162 "type: int has a limit in python 2.7"
At some point in my schema I have something like this:

[code]

When using python 2.7.15 with pykwalify 1.7.0 I get this error:
"pykwalify.errors.RuleError: <RuleError: error code 4: Value: '0' for 'max' keyword is not a number: Path: '/mapping/...'"

as i see it, the issues are as follows:
1. the value for 'max' keyword IS a number
2. the value for 'max' keyword is not 0

suggested fix:
1. in typ

[2019-12-05 16:53] christian-oreilly opened #163 "Union of schemas"
### Proposed Functionality

I propose to modify the signature of Core.validate(...) to have something like
[code]
When `allow_union == True`

[code]
would succeed with `schema1`:
[code]
`schema2`:
[code]
and  `source`:
[code]

### Use Case
I am coding a configuration manager package to use in some of my other projects. The idea is to have a class that manage configuration files specificied at vari

[2019-12-05 18:08] Grokzen commented on #163
Wait... just so i get this right. Do you want the schema to do a Deep merge between two different schemas into one single schema inside the lib itself and then do the merged validation on the data part? So in your example, the merged schema would be this?

[code]

[2019-12-05 19:36] christian-oreilly commented on #163
That would be the idea. I could do it upstream in my code and submit only the "merged" schema to PyKwalify, but it seemed like a feature that would sit better in PyKwalify (being reusable by other have a similar use case) than in my package where it would be harder to reuse in other projects.

[2019-12-06 10:32] Grokzen commented on #163
@christian-oreilly I and strongly leaning towards not supporting this feature mainly due to the reason that if i make some kind of schema union feature, i would have to take a strong stance on several different cases in how the union works with deep and nested data structures. And i am not willing to go down that route and define a certain method or rule set for how it would work inside the pykwal

[2019-12-06 10:32] #163 closed

[2019-12-06 14:45] christian-oreilly commented on #163
Sure, no problem. I'll implement it on my side, Thanks for the fast feedback.

[2020-01-13 16:47] mbolivar opened #164 "rule.py is missing a comma in defined_keywords list"
### Environment

* Python version: 3.8.1
* PyKwalify version: 1.7.0, master

### Steps to Reproduce

1. Look at the defined_keywords variable defined in rule.py
2. Notice that ('nullable', 'nullable') is missing a comma
3. That's not good

### Schema

[code]

### Data

[code]

### Expected Behavior

This function should run without error

### Observed Behavior

If this code ever runs, you will get

[2020-01-28 21:57] #164 closed

[2020-02-08 19:47] tirkarthi opened #166 "Deprecation warning due to invalid escape sequences in Python 3.8"
### Environment

* Python version: 3.8
* PyKwalify version: master branch

### Steps to Reproduce

Deprecation warnings are raised due to invalid escape sequences in Python 3.8 . Below is a log of the warnings raised during compiling all the python files. Using raw strings or escaping them will fix this issue.

[code]

[2020-02-17 14:46] terrycain opened #167 "Fails to regex match a mapping with integer keys"
### Environment

* Python version: 3.8.0
* PyKwalify version: 1.7.0

Tried to validate a mapping key with a regex but the mapping key is an integer.

If there is a better way to do this let me know.  I think you should either quote the keys, or as you are trying to regex them, stringify them before regexing

### Steps to Reproduce

1. pykwalify -s schema.yaml -d data.yaml

### Schema

[code]

###

[2020-04-20 14:25] Tanoti commented on #167
+1 for this, we've hit the same problem

[2020-05-04 19:14] swills opened #169 "AttributeError: 'int' object has no attribute 'startswith'"
### Environment

* Python version: 3.7.7
* PyKwalify version: 1.7.0 (02b7e21)

### Steps to Reproduce

1. `pykwalify -s schema.yaml -d data.yaml`

### Schema

[code]

### Data

[code]

### Expected Behavior
Validation Passed

### Observed Behavior
[code]

This is similar to #167 but slightly different. I think this is due to this bug:

https://github.com/yaml/pyyaml/issues/98

Can be avoided by ad

[2020-08-27 16:05] anjankarpak96 opened #173 "Support multiple data type"
### Environment
I am running PyKwalify on my Python file in PyCharm. I am using PyKwalify to validate my yaml file and then run the SQL scripts in Snowflake.

* Python version:  3.8
* PyKwalify version:  1.7.0

### Steps to Reproduce

I want the schema to support multiple data types. My schema object should accept a string as well a list.

### Schema

[code]

### Data

[code]

### Expected Behavio

[2020-09-28 07:20] decentral1se opened #175 "New release? Maintainers needed or?"
From https://github.com/Grokzen/pykwalify/releases/tag/1.7.0, I see:

I am wondering if there is a plan to make a new release? Also, since that release was some time ago, I am also wondering about maintainership status of this project? This project really solves a need for me and I would like to see it go on.

(More of a general question, apologies on scrapping the issue template...)

[2020-09-28 09:42] Grokzen commented on #175
@decentral1se Dont worry about the issue template, they are there for code specific issues.

Yes i think i can pull together a minor release and push it out to get out the latests commits that is not yet published. Looked through the delta and it dont look that big or bad/much to release out.

The other main thing is that i dont really know what i want to do with this project right now and what di

[2020-10-20 11:52] mluerig opened #176 "Deprecation warning "the imp module is deprecated in favour of importlib""
there is a deprecation warning that is breaking my CI pipeline when pykwalify is imported as a dependence of a dependence (original report of the issue https://github.com/Radiomics/pyradiomics/issues/642)

[code]

I fixed it with the `-p no:warnings` flag, but this should probably changed in pykwalify itself - if the project is still being maintained.

cheers

[2020-10-26 17:33] rpieterick opened #177 "pattern rule not working with all scalar types"
### Environment

* Python version: 3.6.9
* PyKwalify version: 1.7.0

Documentation states the pattern rule works for all scalar types.
It appears that with the commit for issue #47, the pattern rule only works for string values.

### Steps to Reproduce

1. pykwalify -s schema.yaml -d data.yaml

### Schema

[code]

### Data

[code]

### Expected Behavior
Validation passes.

### Observed Behavior

[

[2020-12-10 20:18] andrewshadura commented on #166
Hi @Grokzen, could you please look at this?

[2020-12-29 08:34] #161 closed

[2020-12-29 08:36] #169 closed

[2020-12-29 08:59] #167 closed

[2020-12-29 09:14] Grokzen commented on #176
Fixed inside master and for next major release

[2020-12-29 09:14] #176 closed

[2020-12-29 09:16] Grokzen commented on #162
@guyazran There will not be any more releaes that supports python 2.7 after pykwalify 1.8.0 release and above. Will close this as invalid as this is only a problem with 2.7

[2020-12-29 09:16] #162 closed

[2020-12-29 09:24] #166 closed

[2020-12-30 13:08] Grokzen commented on #177
@rpieterick So there is two solutions to this. Either we fully ignore pattern rule on types that is not really a string compatible scalar types and you as a user have to explicitly sort out the data you send in and only string compatible values will be checked and the others will be ignored. Or we always attempt to do a `str()` convert of the value and check the pattern against that and let the us

[2020-12-30 22:35] Grokzen commented on #175
@decentral1se release 1.8.0 have been made and published to github and pypi

[2020-12-30 22:35] #175 closed

[2021-01-01 20:23] tnickl opened #181 "<RuleError: error code 4"
File "/usr/local/bin/pykwalify", line 8, in <module>
    sys.exit(cli_entrypoint())
  File "/usr/local/lib/python3.9/site-packages/pykwalify/cli.py", line 98, in cli_entrypoint
    run(parse_cli())
  File "/usr/local/lib/python3.9/site-packages/pykwalify/cli.py", line 85, in run
    c.validate()
  File "/usr/local/lib/python3.9/site-packages/pykwalify/core.py", line 183, in validate
    self._star

[2021-01-01 20:58] #181 closed

[2021-02-27 08:23] pranjaldoshi96 opened #182 "Using fulmatch for regex matching."
### Environment
* PyKwalify version:
* Python version:

### Proposed Functionality
For regex matching, we are using re.match which only checks if the pattern/regex is present at the beginning of the string. But if that is the case then the name `pattern` sounds ambiguous cause it looks like we are defining a pattern and the input string should follow that pattern.
[code]

### Use Case

### Other?

[2021-02-27 09:24] Grokzen commented on #182
#183 For reference

[2021-04-09 02:07] tohch4 opened #184 "Schema Validation Against Multiple Files"
### Environment
* PyKwalify version: 1.8.0
* Python version: CPython 3.9.0

### Proposed Functionality

Allow schema validation for multiple files at once.

[code]

### Use Case

Simplify argument building in automation harnesses for CI and CD environment

[2021-04-09 02:13] tohch4 opened #185 "Outputting Scan Results in SARIF Format"
### Environment
* PyKwalify version: 1.8.0
* Python version: CPython 3.9.0
### Proposed Functionality

Support exporting results conformant the [SARIF Standard v1 spec](https://github.com/sarif-standard/sarif-spec-v1).

[code]

### Use Case

Reduce the need to build custom static analysis parser formats.

[2021-04-09 06:47] Grokzen commented on #185
@tohch4 No, this will never happen. This is not the purpose of pykwalify to output and support other output formats from this tool.

[2021-04-09 06:47] #185 closed

[2021-09-12 09:59] Grokzen commented on #173
This basicaly falls in under the existing request #112 which would implement basically the same kind of logic where you can define multiple paths for a single validation. There are plans for implementing this but not in the short term at least. Probably for version 2.0 this will be included.

[2021-09-12 09:59] #173 closed

[2021-10-26 21:29] kbznilafpub opened #189 "How can I check key only?"
I'm new to pykwalify and wondering how I can check only the key using schema.yaml.
My yaml file looks like:
[code]
where some values might be empty.

My `schema.yaml` looks like this
[code]
However, if I set required True here, I have to put a value for each key.

Instead if I don't set it, some keys will be omitted. For example, if I have a yaml like this:
[code]
The linter will pass and can't ca

[2021-10-27 18:23] #189 closed, assigned to nobody

[2022-04-15 22:44] shobnaren opened #192 "anchors to inherit properties are falsely reported as Duplicate"
# Anchors can be used to duplicate/inherit properties

https://learnxinyminutes.com/docs/yaml/

Note: simple yaml safe load works fine - only the pykwalify core - fails to distingush the anchors.

[code]

To suppress this check see:
   http://yaml.readthedocs.io/en/latest/api.html#duplicate-keys

[code]

[2022-04-15 22:51] shobnaren commented on #192
File "t.py", line 11, in <module>
    c = Core(source_file=fn, schema_files=[schema_file])
  File "pyenv/lib/python3.8/site-packages/pykwalify/core.py", line 100, in __init__
    self.source = yml.load(stream)
  File "pyenv/lib/python3.8/site-packages/ruamel/yaml/main.py", line 434, in load
    return constructor.get_single_data()
  File "pyenv/lib/python3.8/site-packages/ruamel/yaml/constructor.p

[2022-04-16 09:15] Grokzen commented on #192
The ruamel.yaml parser is globally defined here https://github.com/Grokzen/pykwalify/blob/master/pykwalify/compat.py#L10 so you are able to add in that option to the yaml parser globally, you only need to do this before you create your Core instance so it is using the correct object instance while parsing the code. You should be able to manipulate and set any other option you desire from that to s

[2022-04-16 09:15] #192 closed

[2022-04-17 12:00] Grokzen commented on #184
There used to be a reason why i did not do this. I think it could have been to the complexity where a user might assume that when providing multiple data and schema files and how they interact and what validates against what. Extending the schema parts was put in place before allowing for multiple data files but at the same time i agree that be able to provide both types multiple times and just gr

[2022-04-17 12:03] Grokzen commented on #154
@yamokosk So i was thinking, in theory you should be able to add in any tag by modifying the following variable https://github.com/Grokzen/pykwalify/blob/master/pykwalify/compat.py#L10 that is the ruamel.yaml object and you should be able to add in any tags you want same way as here https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L68 and if you do this before you construct your

[2022-06-27 22:03] efenner-cambia opened #193 "ReadTheDocs does not seem to be updating"
### Change Type
[ ] Addition
[x] Correction
[ ] Deprecation
[ ] Cleanup (formatting, typos, etc.)

### Proposed Changes
ReadTheDocs does not seem to be updated for the 1.8.0 release even though the docs in the repo do show the changes.

[2022-09-01 12:52] sdruskat opened #194 "Some error message for length violations are wrong"
### Environment

* Python version: 3.10.6
* PyKwalify version: 1.8.0 (but still in master)

### Steps to Reproduce

1. Look at lines https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L892 and https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L910
2. Realize that the wording should be "less than" rather than "greater than" for violations of `min` and `min-ex`

###

[2022-11-07 18:12] MinalRajendra opened #196 "issue while using "unique: true" for the sequence data type"
### Environment

* Python version: 3.5.2
* PyKwalify version: 1.8.0

### Steps to Reproduce

1. create input YML file as below
test.yml
---
mydata:
    name: 123
    age: ABCD
    hobbies: [cooking, painting, cooking]

2. create YML schema as below
---
type: map
mapping:
 mydata:
  type: map
  mapping:
    name:
      type: str
      range:
       min: 1
       max: 10
    age:
       type: int

[2022-11-08 10:30] Grokzen commented on #196
Mkay, good catch. I think the error stems from 2 different places

https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L449 is where the errors is stored during parsing to later be added to the errors list. But when the iterator runs over this temporary lits here https://github.com/Grokzen/pykwalify/blob/master/pykwalify/core.py#L468 we run iteration over a dict and i guess you get

[2022-11-09 05:07] MinalRajendra commented on #196
Thank you for looking into it & your immediate response.
When can we expect fix for this issue?

[2022-11-09 06:55] Grokzen commented on #196
@MinalRajendra I can't give any estimate as i can't give this project to much of my free time right now. If you want a fix, the absolute fastest way is for you to test to modify the parts above i mentioned and submit a PR. Otherwise, maybe in Dec, most likley in Jan at this point